@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


*{
  margin: 0; padding: 0; box-sizing: border-box;
  transition:background 0.3s linear;
  font-family: 'Poppins';
 }

 .bod {
     background-color: white;
 }
.imge{
    width: 100%;
    height: 16rem;
}

header {
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
}

.sec{

    top: 80px;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item:hover .nav-link {
    background-color: rgb(104, 0, 73);
    color:thistle;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='thistle' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}


.navbar{
    padding: 0px;
}

.navbar-nav li{
    z-index: 1;
}


 .dropdown-menu {
     background-color: black;
     color: thistle;
 }
.dropdown-menu a:hover {
    background-color: rgb(104, 0, 73) !important;
    color: thistle;
}

  .se{
      background-size: cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      width: 37.5%;
}

.navi{
    height: 5rem;
}

.see{
    height: 5rem;
    width: 50%;
}

.seee{
    margin-left: 8rem;
    height: 5rem;
    width:50%;
}
.welcome{
    margin: 0 auto;
    padding-top: 2rem;
    color: black;
}

.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.sec1{
    color: black;
}

.sec1 h3 p{
    color: black;
}

h1, .subhead {
    position: relative;
    text-align: center;
    z-index: 3;
    color: black;
}

.subhead {
    text-align: center;
    font-size: 1.1em;
}


/*carousal*/
.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }
}

@media (min-width:1600px) {
    .sec{
        margin-top: -150px;
    }

}


/*footer*/
.foot{
    background-color: whitesmoke;
    color: #7386D5;
}






.logo {
    width: 25vmax;
    border: 5px;
}

.outer {
    display: flex;
}

.outer>p {
    flex: 1;
    height: 70px;
    line-height: 70px;
    background: blue;
}

p {
    text-align: center;
    margin: 0px;
}



/* cart view */





.card{
    height: inherit;
}

/* products cart view  */
.products{
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;

    display: flex; /* so child elements can use flexbox stuff too! */
}

.product-image img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
}



.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}



/* check out view*/

.container {
    max-width: 960px;
}

.lh-condensed { line-height: 1.25; }


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/* about css  */


about{
    margin-top: 80px;
}



.about h1{
    letter-spacing: 12px;
    margin-bottom: 15px;
    font-size: 15px;
}

.about h3{
    color: #2163af;
}

.about p{
    padding: 10px 137px 0px;
}

.crl1{
    background-color: #b41451;
}

.crl2{
    background-color: #000000;
}

.crl3{
    background-color: #3f3f3f;
}

.about-grid{
    text-align: left;
    padding: 30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.about-grid h4{
    color: #2163af;
}

.about-grid p{
    padding: 0px;
    color: #fff;
    margin-bottom: 25px;
}

.about-grid i{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.about-grid i:hover{
    color: #000;
}

.about-grid:hover{
    box-shadow: 2px 15px 70px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 15px 70px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 15px 70px 2px rgba(0, 0, 0, 0.75);
}


/* brands list */
.col-md-3{
    display: inline-block;
    margin-left:-4px;
}
.col-md-3 img{
    width:100%;
    height:auto;
}
body .carousel-indicators li{
    background-color:#B39DDB;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
    background-color:#B39DDB;
}
body .no-padding{
    padding-left: 0;
    padding-right: 0;
}


/*gif*/
.fun{
    width: 100%;
    margin-bottom: 2rem;
}

.gif{
    max-width: 100%;
}

/*social*/
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoFacebook{
    background-color: grey;
}

.social-network a.icoTwitter{
    background-color:grey;
}

.social-network a.icoInstagram{
    background-color:grey;
}


.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    background-color: #D3D3D3;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.imgebrandview{
    width:200px;
    height:40px;
}




