body{
	direction:rtl;
}
.viewall_products{
	text-align:left;
	
}

#header #logo {
    float: right !important;
    margin-right: 40px !important;
}

#nav-menu-container {
	float: left !important;
}

input.subscribetext {
	float: right;
	border-radius: 29px;
}

#subarabic { 
    background: white;
    border-radius: 29px;
	padding-left: 0px;
}

.section-header h3{
	text-align: right;
	padding-right: 35px;
}

.footer_social_links {
	float: right;
}

#verifiedusers , #toplikedproducts , #footer_top{
	
}
#footer_top .special_offers{
	text-align: right;
}
.header_notification .badge-danger{
	right: -20px;	
}

.header_language .sf-arrows .sf-with-ul{
	    position: relative;
}
.boxshadow{
	direction: rtl;
}
#intro h1 , #intro h2{
	text-align: right;
}
.slider_shopnow{
	float: right;
}
h4.showdetials, h4.show_purchased_detials{
	left: -3px;
	right:auto;
}

.social_login span a{
	  
}
.margintopminus{
	    
}
.myorders .tabcontent{
	direction: rtl;
}
.reviewlink{
	left: 25px;
	right:0;
    text-align: left;
}


.user_image{
	float: right;
}
.threedots{
	float: left;
}
.accountname_time{
	    width: 75%;
    float: left;
	text-align: right;
}
.product_save {
    float: left;
}
.counter, .product_details{
	text-align: right;
}
.price{
	margin-left: 15px;
	    float: left;
}
.product_desc{
	text-align: right;
}
.product_buttons .buybutton{
 margin-left: 0px;
	float: left;
}
.product_buttons a.contact{
	    float: right;

}
.registration_form{
	    direction: rtl;
}
.registration_form_icons{
	right: 15px;
	left: auto;
}

#header{
	direction: ltr;
}
.header_search form{
	direction: rtl;
}
.chatrowbutton img{
	float: left;
 margin-top: -90px;
		    margin-left: 105px;
margin-right: 0px;
			    position: fixed;
    left: 0;
right:auto;
	bottom:75px;

}
.chatbutton{
    float: left;
    margin-top: -90px;
    margin-left: 105px;
    margin-right: 0px;
    position: fixed;
    left: 0;
    right:auto;
    bottom:75px;
}
#live-chat{
	    left: 30px;
		right:auto;
}
.subscribetext{
	width: 56%;
    margin-right: -5%;
    float: left;
}

.section-header h3:before {
	display: none;
}

.section-header h3:after {
	content: url(../img/aero.png);
	margin-right: 0;
    position: absolute;
    top: 2px;
    right: 0;
}

.about_contact_details, .signupright{
	direction: rtl;
}
.order-details{
	direction: rtl;
	text-align: right;
}
.float-right {
    float: left!important;
}
#footer .footer-top, .hiddenproductdetials{
	text-align: right; 
}

#footer .footer-top .footer-links ul i{
	float: right;
    padding-left: 8px;
    padding-right: 0;
}
.whitebg .product_img{
	margin-left: 2%;
}
.signupright{
	    text-align: right;
}
.signupverificationnumber{
	margin-right:0;
}
.input_code{
	float:right;
}
.verified_icons{
	    left: 25px;
		right:auto;
}

.signupleft img{
	    background-color: #958ca1;
		  border-radius: 0px 24px 24px 0px;
		      width: 100%;
    height: 100%;
}
.signupleft {
  
	    border-radius: 0px 24px 24px 0px;
   
}
.signupright{
	border-radius: 24px 0px 0px 24px;
}
.cart .checktick{
	    right: 5px;
		left:auto;
}
.contact_icons{
	    margin-left: 25px;
}
.reviewbgboxshadow{
	text-align: right;
}
.userdiv {
    margin-left: 25px;
    margin-right: 0;
}

.liked_product_details p.p_title{
	    text-align: right;
}
.product_likes {
    float: left;
}

.myorders .tab{
	float:right;
	border-radius: 0px 15px 15px 0px;
}
.myorders .tab button:nth-child(1) {
    border-radius: 0px 15px 0 0px;
}
.myorders .tabcontent{
	    border-radius: 15px 0px 0px 15px;
}
#Settings ul li.active {
    border-left: 1px solid #ccc;
	border-right:0;
}
#Settings ul{
	padding: 0;
}
.myorders .catbg p.text-white span.float-right{
	float:right !important;
}
#progressbar li{
	float: right;
}
#progressbar li:after{
	    right: 0;
		left:auto;
}
#msform fieldset{
	text-align: right;
}
p.seller_user span {
    float: left;
}
.contact_details{
	    text-align: right;
}
.liked_product_details .seller_user , .user_detials{
	text-align: right;
}
#footer .footer-top h4::before, #footer .footer-top h4::after{
	    right: 0;
    left: 0;
}
#footer .footer-top h4::before{
	left: 0;
	    right: 0;
}
.whitebg{
	text-align:right;
}

.innersearch button{
	border-radius: 24px 0px 0px 24px;
}
.innersearch input{
	border-radius: 0 24px 24px 0;
}
.togglecontactdetials{
	left: -60px;
	right:auto;
}
.shapeforcontact{
	    right: -25px;
		left:auto;
		    border-top: 10px solid transparent;
    border-left: 25px solid #ababab;
    border-bottom: 10px solid transparent;
	border-right:0;
}
.productinfodots{
	right: auto;
	left:56px;
}
.shapeforthreedos{
	border-top: 10px solid transparent;
    border-right: 25px solid #ababab;
    border-bottom: 10px solid transparent;
	border-left:0;
	right: auto;
	left: -25px;
}

.checkouttabs li:nth-child(1):after{
	display:block;
}
.checkouttabs li:nth-child(4):after{
	display:none;
}

.back-to-top{
left: 15px;
right:auto;
}

#live-chat .chat-message{
text-align: right;
}
#live-chat .chat-message img{
	float: right;
}
#live-chat .chat-message-content {
    margin-right: 56px;
    margin-left: 0px;
}

.language_label{
    padding-left: 10px !important;

}
.notifiationtab{
    text-align: right;

}
.photossettingtag{
    text-align: right;

}
.tab-content{
    text-align: right;

}
.notification_bar ul.nav.nav-tabs li a {
    padding: 5px 29px;
}
.text-white{
    text-align: left;

}
.singleproduct{
    text-align: right;

}
label{
    display: flex;

}
.card{
    text-align: right;

}
.card-edit{
    float: left !important;
}
.fa-bookmark{
    float: left !important;
}
.showdetialss {
    left: -3px;
    right: auto;
}
.edit-arabic{
    text-align: right !important;
}
.ar-edit{
    width: auto !important;
}
.item-titl{
    text-align: right !important;
}
.rating{
    float: right;
}
@media screen and (max-width:768px){

    #header #logo{
    float:none!important;
    margin-right: 0px!important;
    }
    .slider_shopnow {
        float: none;
    }
    .responsive_h1{
        text-align: center!important;

    }
    .notification_bar ul.nav.nav-tabs li a {
        padding: 4px 8px!important;
        /*font-size: 13px;*/
        /*margin-right: 0px;*/
    }

}

.cat_followuppertab{
	width: max-content;
	margin: inherit;
}
.ar_price{
	float: left;
}
