
.myorders .tabcontent{
	direction: rtl;
}
.reviewlink{
	/*display:none;*/
}


#Settings .findfriends_boxshadow .centerdivvertically{
	    text-align: right;
}
.myorders .tabcontent h3{
	    text-align: right;
}
#Settings .switch{
	    top: 0px;
}

.notifiationtab p {
    margin-bottom: 30px;
    text-align: right;
}
.tab-content>.tab-pane{
   text-align: right;
}
h3.user_profile_header{

}
.userprofilelinks .col-md-6:nth-child(1) {
    margin-right: 0%;
}

.userprofilelinks .col-md-6:nth-child(2) {
    margin-right: 2%;
}
h3.user_profile_header{
	text-align: right;
}
p.user_profile_buttons{
	    position: relative;
    top: -40px;
    text-align: right;
    left: -96px;
}
.edituserprofilephoto{
	right: 0;
}
.add_new_category{
	    text-align: right;
}
.findfriends_boxshadow .icons img{
	margin-left: 15px;
}