body{
	direction:rtl;
}
.viewall_products{
	text-align:left;
	
}
.section-header h3{
	text-align: right;
}

#verifiedusers , #toplikedproducts , #footer_top{
	direction:ltr;
}
#footer_top .special_offers{
	text-align: right;
}
.header_notification .badge-danger{
	right: -20px;	
}

.header_language .sf-arrows .sf-with-ul{
	    position: relative;
}
.boxshadow{
	direction: rtl;
}
#intro h1 , #intro h2{
	text-align: right;
}
.slider_shopnow{
	float: right;
}