@font-face {
    font-family: 'Swis721 BT';
    src: url('../fonts/Swiss721BT-Roman.woff2') format('woff2'),
    url('../fonts/Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.post_product{
    width: max-content;
}

.edit_product{
    width: max-content;
}
img{

}
.mobileheader{
    display:none;
}
.mt-5, .my-5{
    width:100%;
}

.swiper-container-rtl .swiper-button-next
{
    right:0 !important;
    left:auto !important;
}
.swiper-button-prev{
    left:0 !important;
    background-image: url(../img/13.LeftSide.png) !important;
}
.swiper-button-next{
    right:0 !important;
    background-image: url(../img/14.RightSide.png) !important;
}
.swiper-container-rtl .swiper-button-prev{
    left:0 !important;
    right:auto !important;
}
.swiper-container{
    padding: 0 38px !important;
    margin: 40px auto !important;
}

body {
    background: #fff;
    color: #6f6f6f;
    font-family: 'Swis721 BT';
}

a {
    color: #FAB913;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #FAB913;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 0px 0;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #FAB913;
    color: #fff;
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*
.notification_bar{
	background-color: #fff;
    position: absolute;
    width: 34%;
    right: 10%;
    z-index: 9;
    height: 330px;
    overflow: auto;
    top: 125px;
	padding: 35px;
}
*/
.notification_img{
    width:100%;
}
#notification_popup .modal-body{
    background-color: #EDF2F6;
    padding: 40px;
}
#notification_popup .row{

}

#notification_popup  .col-md-1.text-right{
    font-size: 35px;
    color: #303030;
}


hr.notifiation_hr{
    margin: 30px 0;
}

#notification_popup  .modal-content , #notification_popup .modal-body{
    border-radius: 30px;
}
.shapenotification{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #edf2f6;
    position: absolute;
    top: -30px;
    right: 14%;
    display:none;
}
#notification_popup .modal-dialog{
    margin: 10.75rem auto;
    /*max-width: 40%;*/
}
#notification_popup .modal-dialog h4{
    font-size:20px;
    margin-bottom: 10px;
}
#notification_popup .modal-dialog p{
    font-size:15px;
}
.notification_bar .nav-tabs {
    border-bottom: 3px solid #fab913;
    padding-bottom: 3px;
    margin-bottom: 40px;
}

.notification_bar ul.nav.nav-tabs li a.active {
    background-color: #291842;
    color: #fff;
}

.notification_bar ul.nav.nav-tabs li a {
    padding: 6px 30px;
    border-radius: 10px 10px 0 0;
    color: #291842;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}


.submitproduct{
    background-color: #FAB913;
    border: none;
    padding: 10px 30px;
    border-radius: 24px;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}
#post_product .modal-header{
    height: 250px;
    background-image: url(../img/Pattern.png);
    background-size: cover;

}
#edit_product .modal-header{
    height: 250px;
    background-image: url(../img/Pattern.png);
    background-size: cover;

}
#post_product .modal-header .close{
    padding: 0;
    margin: 0;
    background-color: #fff;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#edit_product .modal-header .close{
    padding: 0;
    margin: 0;
    background-color: #fff;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#post_product .post_product_gallery{
    padding: 0;
    margin: 0;
    background-color: #fff;
    opacity: 1;
    /*width: 30px;*/
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #000;
    text-align: center;
    /*line-height: 2;*/
    line-height: 3.5;
}
#edit_product .edit_product_gallery{
    padding: 0;
    margin: 0;
    background-color: #fff;
    opacity: 1;
    /*width: 30px;*/
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #000;
    text-align: center;
    /*line-height: 2;*/
    line-height: 3.5;
}
#post_product .modal-body .form-control{
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 16px -3px #929292;
    padding: 15px;
    margin-bottom: 20px;
    height: auto !important;
    border-radius: 10px;
}
#edit_product .modal-body .form-control{
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 16px -3px #929292;
    padding: 15px;
    margin-bottom: 20px;
    height: auto !important;
    border-radius: 10px;
}
#post_product .modal-body {
    background-color: #EDF2F6;
}
#edit_product .modal-body {
    background-color: #EDF2F6;
}
#post_product .modal-body form{
    margin-top: -50px;
}
#edit_product .modal-body form{
    margin-top: -50px;
}
#header {
    padding: 30px 0;


    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #291842;
}

#header.header-scrolled {
    background-color: #291842;


    transition: all 0.5s;
}

#header #logo {
    float: left;
    margin-bottom: 25px;
}
.searchbox {
    background-color: #D9E0EA;
    border-radius: 24px 0 0 24px;
    border: none;
    width: 90%;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0 40px;
}
.searchsubmit{
    background-color: #D9E0EA;
    border-radius: 0px 24px 24px 0;
    height: 50px;
    padding: .375rem .75rem;
    margin: 0;
    border: none;
    color: #000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #fab913;
    border-color: #fab913;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: none;
}


.header_search{
    clear:both;
}
.header_language , .header_notification{
    display: inline-block;
    width: 100%;
    margin-bottom:15px;
}
.header_language ul, .header_notification ul{
    float:right;
}
.header_language .sf-arrows .sf-with-ul {
    background-color: #E85460;
    padding: 6px 35px 6px 20px !important;
    border-radius: 24px;
}
.language_label{
    color: #fff;
    padding-right: 10px !important;
    cursor: pointer;
}
.header_notification a{
    font-size: 25px !important;
    width: 40px;
}
.header_notification .badge-danger {
    color: #000;
    background-color: #fab913;
    padding: 5px !important;
    border-radius: 24px;
    position: relative;
    top: -20px;
    left: -20px;
    line-height: 1;
    font-size: 13px;
    width: 23px;
    height: 23px;
}
.post_product {
    float:right;
}
edit_product {
    float:right;
}
.post_product a{
    background-color: #FAB913;
    color: #000;
    padding: 8px 20px;
    border-radius: 24px;
    text-align: center;
    font-size: 20px;
}
.edit_product a{
    background-color: #FAB913;
    color: #000;
    padding: 8px 20px;
    border-radius: 24px;
    text-align: center;
    font-size: 20px;
}
.post_product a i{
    font-size: 30px;
    vertical-align: bottom;
    opacity: 0.5;
}
.edit_product a i{
    font-size: 30px;
    vertical-align: bottom;
    opacity: 0.5;
}
#nav-menu-container ul li a{
    border-right: 2px solid #fff;
}
#nav-menu-container ul li.lastchild a{
    border-right: none !important;
}

@media (min-width: 1024px) {
    #header #logo {

    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #FAB913;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
    }
    #header #logo img {
        max-height: 40px;
        margin-top:10px;
    }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
    display: table;
    width: 100%;
    height: 450px;
    background: #000;
    border-top: 5px solid #d9e0ea;
}
.slider_shopnow{
    background-color: #097496;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 30px;
    border-radius: 24px;

    display: inline-block;
}
.sliderbuttons {
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 15px;
}
#intro .carousel-item {
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {

    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-content {
    display: flex;
    align-items: center;
    height: 100%;
}
#intro h1{
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 55px;
}
#intro h2 {
    color: #000;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 500;
}
.carousel-indicators{
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius:100%;
    border: 2px solid #000;
    background-color: transparent;
}
.carousel-indicators{
    max-width: 1170px;
    margin: 0 auto;
}
.carousel-indicators .active{
    background-color: #F9BA13;
    border: 1px solid #F9BA13;
}

@media (max-width: 768px) {
    #intro h2 {
        font-size: 28px;
    }
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

@media (min-width: 1024px) {
    #intro p {
        width: 60%;
    }
}

#intro .carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
    width: 10%;
}

@media (min-width: 1024px) {
    #intro .carousel-control-prev, #intro .carousel-control-next {
        width: 5%;
    }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #FAB913;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #FAB913;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
    padding-top: 55px;
    padding-right: 50px;
}

@media (min-width: 1024px) {
    #nav-menu-container {

    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 0 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: Capitalize;
    outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #FAB913;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #FAB913;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    margin: 20px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 55px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #FAB913;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #FAB913;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
    margin-left: 200px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header {

}
.section-header h3 {
    font-size: 20px;
    color: #111;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    position: relative;

}
.section-header h3:before{
    content: url(../img/aero.png);
    margin-right: 15px;
    position: relative;
    top: 2px;
}

hr.titleborder{
    margin: 0;
    border: 3px solid #fab913;

    height: 0;
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
    background: #f7f7f7;
}



/* producttabs Section
--------------------------------*/
#producttabs {
    background-color: #D9E0EA;
    padding: 60px 0 40px 0;
    position: relative;
}

/*
#producttabs::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 9;
}
*/
#producttabs .container {
    position: relative;
    z-index: 10;
}
#producttabs ul.nav.nav-tabs li{
    min-height: 38px;
}
#producttabs ul.nav.nav-tabs li a{
    padding: 8px 50px;
    border-radius: 10px 10px 0 0;
    color: #291842;
    font-size: 23px;
    font-weight: 500;
}

#producttabs ul.nav.nav-tabs li a.active{
    background-color: #291842;
    color: #fff;
}
#producttabs .tab-content{
    margin-top: 30px;
}
#producttabs .nav-tabs {
    border-bottom: 5px solid #fab913;
    padding: 0;
}

.boxshadow{
    background-color: #fff;
    box-shadow: 0px 8px 14px -6px #a7a7a7;
    border-radius: 15px;
    padding: 15px 0;
    font-size: 14px;
    margin-bottom: 50px;
}
.innerpading{
    padding: 11px 15px 0px 11px;
}
.accountname_time h3{
    color: #E7535F;
    font-size: 18px;
    font-weight: 500;
    margin-bottom:0;
}
.threedots{
    float: right;
    color: #676161;
    font-size: 35px;
    padding: 0px 5px;
}
.favourite{
    color: #E7535F;
}
.product_save{
    float: right;
}
.counter, .product_details{
    font-size: 16px;

    clear: both;
}
.product_buttons{
    margin-bottom: 70px;
}
.product_b{

    margin: 30px 20px 15px 0px;



}
.label_format{

    width:40px;
    clear:left;
    text-align:right;
    padding-right:10px;

}
.att_bullets{
    list-style-type: none;
}
.product_desc a{
    color: #1a9dd5;
}
.product_desc{
    font-size: 16px;

}
p.timestatus{
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.user_image{
    width: 20%;
    float: left;
}
.accountname_time{
    width: 80%;
    float: right;
    margin-bottom: 15px;
}
.viewall_products{
    text-align: right;
    position: relative;
    top: -15px;

}
.viewall_products a{
    background-color: #C0C7CF;
    color: #000;
    padding: 8px 30px;
    border-radius: 24px;
    position: relative;
    top: 35px;
    z-index: 9999;
    display:none;
}
.red{
    color: #e7535f;
}
.price{
    float: right;
}
.product_buttons a.contact{
    background-color: #1A9DD5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 11px 24px 24px 11px;
    float: left;

}
.product_buttons .buybutton{
    background-color: #1A9DD5;
    color: #fff;
    margin-left: 50px;
    padding: 5px 10px;
    border-radius: 11px 24px 24px 11px;
    float: right;
}
hr {
    clear:both;
    margin-top: 3rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}

.product_image img{
    width: 100%;
    margin: 0 auto;
    display: block;
}

/* Clients Section
--------------------------------*/
#toplikedproducts {
    padding: 0px 0 0;

}

#toplikedproducts img {
    max-width: 100%;

    transition: 0.3s;

}



#toplikedproducts .owl-nav, #toplikedproducts .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#toplikedproducts .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#toplikedproducts .owl-dot.active {
    background-color: #FAB913;
}




#verifiedusers{
    padding: 0px 0;


}

.user_profile{
    text-align: center;
}
.user_profile img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #CCDCE9;
    margin: 0 auto;
}
.username{
    text-align: center;
}
.username h3{
    margin-bottom: 0;
    font-size: 20px;
}
.userfollow{

    bottom: 70px;
    transition: all 1s;
    background-color: #1A9CD6;
    color: #fff;
    padding: 8px 15px ;
    border-radius: 24px;

    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 2%;
    border: 2px solid #ffffff;
    cursor:pointer;
}
.userfollow_home{

    background-color: #1A9CD6;
    color: #fff;

    border-radius: 24px;


    border: 2px solid #ffffff;




    padding: 8px 15px;


    display: inline-block;
    text-align: center;
   width: 70%;
    cursor:pointer;
margin-left: 36px;
    bottom: 70px;
}

.userunfollow_home{
    padding: 8px 15px;
    border-radius: 24px;

    display: inline-block;
    text-align: center;
    border: 2px solid #757575;
    cursor:pointer;
    width: 70%;
    margin-left: 36px;
    bottom: 70px;


}
.userunfollow{
    padding: 8px 15px;
    border-radius: 24px;
    width: 20%;
    display: inline-block;
    text-align: center;
    border: 2px solid #757575;
    cursor:pointer;

    bottom: 70px;


}
.followunfollow{
    margin: 25px 0 10px;

}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer_social_links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_social_links li{
    float:left;
    margin-right: 10px;
}
.footer_social_links li img{
    width: 40px;
}
.subscribetext{
    padding: 10px 20px;
    border-radius: 24px 0px 0px 24px;
    border: none;
    width: 75%;
    margin-right: -15%;
}
.subscribesubmit{
    padding: 10px 10px;
    border-radius: 24px;
    border: none;
    width: 40%;
    background-color: #fab913;
    text-transform: uppercase;
    font-weight: 500;
}

.chatrowbutton{
    text-align: right;

}
.chatrowbutton img{
    float:right;
    margin-top: -90px;
    margin-right: 105px;
    position: fixed;
    right: 0;
    bottom:75px;
}
.chatbutton{
    width: 70px;
    height: 70px;
    float:right;
    margin-top: -90px;
    margin-right: 105px;
    position: fixed;
    right: 0;
    bottom:75px;
    z-index: 99;
}

#footer_top{
    background-color: #1A9CD6;
    padding: 30px 0;
    position:relative;


}
#footer_top .special_offers{
    color: #fff;
    font-size: 30px;
}

#footer {
    background: #3C3C3C;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #343434;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
    text-align: center;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #FAB913;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #FAB913;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #555;
}

#footer .footer-top h4::after {
    background: #FAB913;
    width: 60px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #FAB913;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #FAB913;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #13a456;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}


/*
Chat css
*/

#live-chat fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#live-chat h4, #live-chat h5 {
    line-height: 1.5em;
    margin: 0;
}

#live-chat hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

#live-chat img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

#live-chat input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }


#live-chat .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
#live-chat .clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 187px;
    font-size: 12px;
    right: 30px;
    position: fixed;
    width: 300px;
    z-index: 10;

}

#live-chat header {
    background: #ea535f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    background: #30e059;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 20px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

#live-chat .chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

#live-chat .chat-close {

    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 20px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
    display:none;
}

#live-chat .chat {
    background: #fff;
}

#live-chat .chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll;
}

#live-chat .chat-message {
    margin: 16px 0;
}

#live-chat .chat-message img {
    border-radius: 50%;
    float: left;
}

#live-chat .chat-message-content {
    margin-left: 56px;
}

#live-chat .chat-time {
    float: right;
    font-size: 10px;
}

#live-chat .chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}


/*
Sign up page
*/
h2.page_title{
    margin-bottom: 0;
    letter-spacing: 1px;
}

.page_title_bg{
    padding: 50px 0 100px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #fab913;
}
.margintopminus{
    margin-top: -80px;
    margin-bottom: 40px;
}
.paddingzero{
    padding: 0;
    background-color: #E7EEF4;
    box-shadow: 9px 15px 28px -9px #8e8e8e;
}
#main{
    background-color: #D9E0EA;
}
.signupleft{
    border-radius: 24px 0 0 24px;
}
.signupright{
    border-radius: 0px 24px 24px 0px;
    padding: 35px;
}
.signupleft img{
    width:100%;
}
.signupright label{
    color: #139ed7;
    font-weight: 500;
    display: block;
    font-size: 15px;
}
.signupverificationnumber{
    width: 95%;
    border-bottom: 2px solid #139ed7 !important;
    border: none;
    margin-right: -33px;
    background-color: transparent;
    font-size: 20px;
}
input:focus{
    outline:none;
}
.submitnumber{
    background-color: transparent;
    border: none;
    color: #139ed7;
}
.input_code input{
    border-bottom: 2px solid #6b6f71 !important;
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
}
.input_code input:focus{
    border-bottom: 2px solid #139ed7 !important;
}
.input_code{
    position: relative;
    width: 15%;
    display: block;
    float: left;

    padding-right: 15px;
    margin-right: 5px;
}
.input_code_resend a{
    color: #139ed7;
}
div.becomeseller{
    font-size: 20px;
    color:#000;
}





.becomeseller .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 18px;
    top: -6px;
}

/* Hide default HTML checkbox */
.becomeseller .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.becomeseller .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.becomeseller .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.becomeseller input:checked + .slider {
    background-color: #2196F3;
}

.becomeseller input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.becomeseller input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.becomeseller .slider.round {
    border-radius: 34px;
}

.becomeseller .slider.round:before {
    border-radius: 50%;
}
.signup_button input{
    background-color: #139ed7;
    border: none;
    padding: 10px 25px;
    border-radius: 24px;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    display: block;
    width:96%;
    font-size: 20px;
}

/*
Login page
*/
.login_form input[type="text"] , .login_form input[type="password"]{
    border-radius: 24px;
    border: none;
    background-color: #D9E0EA;
    padding: 10px 20px;
}


.social_login  span a{
    background-color: #e85460;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100%;
}
.margintopminus a{
    color: #139ed7;
}
.float-right i.fa.fa-trash{
    font-size: 25px;
}


/*
Top Likes
*/
#toplikestabverifiedusers{
    padding: 50px 0;
}
#toplikestabverifiedusers ul.nav.nav-tabs li a.active {
    background-color: #291842;
    color: #fff;
}
#toplikestabverifiedusers ul.nav.nav-tabs li a {
    padding: 8px 30px;
    border-radius: 10px 10px 0 0;
    color: #291842;
    font-size: 20px;
    font-weight: 500;
}
#toplikestabverifiedusers ul.nav.nav-tabs li {
    min-height: 36px;
}

#toplikestabverifiedusers .nav-tabs {
    border-bottom: 5px solid #fab913;
}
#toplikestabverifiedusers .tab-content {
    margin-top: 30px;
}
.page_title_bg_withoutmargintop{
    padding: 50px 0 50px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #fab913;
}
.googleads img{
    width:100%;
}
.googleads{
    padding: 50px 0;
}
.whitebg{
    background-color: #fff;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    box-shadow: 3px 5px 14px -3px #828282;
    margin-bottom: 25px;
}
.whitebg .product_img{
    width: 20%;
    float: left;
    margin-right:2%;
}
.whitebg .product_img img{
    width:100%;
}
.liked_product_details{
    width: 80%;
    color: #7d7a7a;
}
.product_likes{
    float: right;
}
p.seller_user span{
    float: right;
}

.liked_product_details p.p_title{
    color: #656464;
    font-size: 20px;
}
.user_detials p:nth-child(1){

    font-size: 20px;
    color: #656464;

}
.verified_icons{
    position: absolute;
    right: 25px;
    top: 8px;
}
.userdiv{
    margin-right: 25px;
}
button.userfollow {
    background-color: #1A9CD6;
    color: #fff;
    padding: 5px;
    border-radius: 24px;
    width: 70%;
    display: inline-block;
    text-align: center;
    float: none;
    margin-right: 0;
    border: none;
    margin-top: 8px;
    font-size: 13px;
}
/*
Contact Page
*/

.contact_form{
    background-color: #EDF2F6;
    padding: 50px;
    border-radius: 24px;
    box-shadow: 2px 6px 20px -6px #6b6b6b;
    margin-top: -90px;
}
.contactformrow{
    padding:50px 0;
}
.contact_form input{
    margin-bottom: 25px;
    background-color: #E1E8F0;
    padding: 15px;
    border: none;
    border-radius: 24px;
}
.contact_form textarea{
    margin-bottom: 25px;
    background-color: #E1E8F0;
    padding: 15px;
    border: none;
    min-height: 200px;

}
.contact_form input[type="submit"]
{
    background-color: #1a9cd6;
    color: #fff;
    padding: 10px;
}
.greybg{
    background-color: #CED5DF;
    padding: 25px 0;
}
.contact_details{
    color:#000;
    margin-bottom: 50px;
}
.contact_icons{
    color: #1a9cd6;
    font-size: 30px;
    margin-right: 25px;
    width: 30px;
    display: inline-block;
}

.greybg .row{
    align-items:center;
}
.form-control:focus{
    outline:none;
    box-shadow: none;
    background-color: #d9e0ea;
}

.reviewstars img{
    width: 90px;
}
.reviewbgboxshadow{
    background-color: #fff;
    padding: 50px 0 0;
    box-shadow: 2px 6px 20px -4px #6f6f6f;
    border-radius: 24px;
    margin-bottom: 50px;

}
.reviewbgboxshadow .col-md-8 .row{
    margin-bottom: 35px;
}
.reviewlink {
    text-align: right;
    padding-bottom: 0;
    color: #fab913;
    font-size: 30px;
    position: absolute;
    right: 25px;
    bottom: 15px;
}
.userdetials_group{
    width: 95%;
}
/*
Registration Form
*/
.about_img{
    width:100%;
    margin-bottom:35px;
}
.registration_form{

    padding: 50px 30px;
    border-radius: 24px;

    background-image: url(../img/Pattern.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.registration_form_icons{
    position: absolute;
    top: 10px;
    left: 15px;
    color: #ea535f;
}
.registration_form input , .registration_form select{
    padding: 10px 40px;
    border-radius: 24px;
    border: none;
    background-color: #D9E0EA;
    width: 100%;
}
.registration_form .form-group{
    position: relative;
}
.registration_submit{
    background-color: #1a9cd6 !important;
    color: #fff !important;
    width: 60% !important;
    margin: 0 auto !important;
    display: block !important;
}

/*
Checkout Step Form
*/
hr.yellow_border{
    margin-top: -10px;
    border-color: #fab913;
    border-width: 3px;
}
.cashbg{
    background-color: #B1EBEC;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    box-shadow: 10px 10px 18px #1893D8;

}
.knetbg{
    background-color: #FFCDD0;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.visabg{
    background-color: #FFE6A3;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.paymentoptions .col-md-4{
    margin-bottom:35px;
}
.cashbg img , .knetbg img, .visabg img{
    margin: auto;
}
.addnewaddress{
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 9px -2px #827f7f;
    margin-bottom: 35px;
}
.slide_down{
    box-shadow: 1px 3px 11px -3px #656565;
    background-color: #fff;
    padding: 25px;
    border-radius: 24px;
    margin-bottom: 35px;
}
.saveadress{
    border-radius: 24px !important;
    background-color: #555555;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 22px !important;
    margin: 20px 0;
    padding: 10px !important;
}
.addresssearch{
    border: none !important;
    background-color: transparent;
    border-bottom: 1px solid #ccc !important;
}
input[name="address"] , input[name="city"], input[name="country"] , input[name="landmark"], input[name="pincode"]{
    border: none !important;
    background-color: #EDF2F6 !important;
    border-radius: 24px !important;
}
.addresslist{
    background-color: #fff;
    padding: 35px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 1px 3px 11px -3px #656565;
}
.address-checked{
    background-color: #FBC000;
}
.adresstitle{
    color: #1a9cd6;
    font-size: 20px;
    margin-bottom: 15px;
}
#msform .iconbg{
    width: 48%;
    float: left;
    text-align: center;

    padding: 30px 25px;
    margin-right: 5%;
    box-shadow: 0px 3px 19px -5px #000;
    border-radius: 10px;
}
#msform .iconbg:nth-child(1){
    background-color: #fff;

}
#msform .iconbg:nth-child(2){
    background-color: #ea535f;
    color:#fff;

}

/*
#msform .iconbg:hover{
	 background-color: #ea535f;
	 color:#fff;
}
*/
.selectaddress span{
    font-size: 14px;
    position: relative;
    top: -22px;
}
h5.selectaddress{
    margin-bottom:35px;
}
#msform .pickupoption{
    display: flex;
    margin: 25px 80px 80px;
}
#msform .iconbg i{
    font-size: 50px;
    margin-bottom: 25px;
}

#progressbar li.active i{
    background-color: #139ed7;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}
#progressbar li i{
    background-color: #D7DCE2;
    color:#6f7375;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
}
/*form styles*/
#msform {
    padding: 50px;
    position: relative;
    background-color: #EDF2F6;
    border-radius: 10px;
    box-shadow: 0px 5px 14px -3px #828282;
    margin: 0 45px;
}

#msform fieldset {

    border: 0 none;
    border-radius: 0px;

    padding: 0;
    box-sizing: border-box;
    width: 100%;


    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;

    width: 100%;
    margin-bottom: 18px;

    color: #2C3E50;

}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #1a9cd6;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {

    background: #1a9cd6;

    color: white;

    border-radius: 25px;

}

#msform .action-button:hover, #msform .action-button:focus {

}

#msform .action-button-previous {

    background: #1a9cd6;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1a9cd6;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {


    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align:center;
    margin-bottom: 50px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;

    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    position: absolute;
    bottom: -20px;
    left: 43%;
    text-align: center;
    background-color: #6f7375;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1.8;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1a9cd6;
    position: absolute;
    left: 0;
    top: 44%;
    z-index: 0;
    border-radius: 100%;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #e85460;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.boxshadow{

}




    /*
    Abpout Us
    */
.about_contact_details span{
    font-size: 25px;

    vertical-align: middle;
}
.marign0whitebg{
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 4px 9px -5px #757575;
}

.about_contact_details{
    display: flex;
}
.about_contact_details span i {
    width:50px;
    text-align: center;
}



/*
My Orders
*/
.redbuttons{
    background-color: #ea535f;
    border: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 24px;
    font-size: 14px;

}
.redbuttons.active{
    border: 2px solid #fff;
}
p.user_profile_buttons{
    position: relative;
    top: -40px;
    left: 96px;
}
p.profileediticon{
    font-size: 40px;    position: relative;
    z-index: 9999;
}
p.profileediticon span{
    color:#fff;
    cursor:pointer;
}

.edituserprofilephoto{
    position: absolute;
    left: 0;
    top:0;
    width: 96px;
    background-color: #00000075;
    height: 96px;
    border-radius: 100%;
    text-align: center;
    line-height: 96px;
    display:none;
}
.editusername{
    display:none;
}
h3.user_profile_header{
    position:relative;
}
.myorders .tab {
    float: left;
    border: none;
    background-color: #EDF2F6;
    width: 20%;
    border-radius: 15px 0 0 15px;
    padding: 5px;
    height:100%;

}
.myorders .tab button:nth-child(1){
    border-radius: 15px 0 0 0px;

}
/* Style the buttons inside the tab */
.myorders .tab button {
    display: block;
    background-color: #D9E0EA;
    margin-bottom: 10px;
    color: #6f6f6f;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.myorders .tab button:hover {
    background-color: #6F6F6F;
    color: #fff;
}

/* Create an active/current "tab button" class */
.myorders .tab button.active {
    background-color: #6F6F6F;
    color: #fff;
}

/* Style the tab content */
.myorders .tabcontent {
    float: left;
    padding: 0px 5px;
    border: none;
    width: 80%;
    border-left: none;
    background-color: #EDF2F6;
    border-radius: 0 15px 15px 0;
}
.myorders .tabcontent h3{
    background-color: #D9E0EA;
    padding: 25px;
    margin-top: 5px;
    color: #757575;
}
.order-details{
    background-color: #fff;
    padding: 25px;
    width: 85%;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: 0px 3px 15px -6px #000;
    margin-bottom: 50px;
    position:relative;
}
h4.showdetials , h4.show_purchased_detials  {
    font: normal normal normal 30px/1 FontAwesome;
    position: absolute;
    right: 15px;
}

.hiddenproductdetials{

    margin: 35px 0;
}
.hiddenproductdetials .col-md-12{
    padding: 35px 0;
    border-top: 2px solid #ccc;
    margin: 0px 0;
}
.myorders .product_desc, .myorders .product_details , .myorders .userdetials_group{
    font-size: 14px;
}

.myorders .userdetials_group{
    margin-bottom:10px;
}
.myorders .reviewbgboxshadow{
    margin: 50px;
}
.marginzero{
    margin:0 !important;
}


.myorders .addnewcategory{
    background-color: #1a9cd6;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    color: #fff;
    padding: 6px 30px;
    position: relative;
    top: -7px;
}
.myorders .addnewcategory i{
    font-size: 35px;
    vertical-align: middle;
}
.myorders .cat_follow a{
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 24px;
}
.myorders .cat_name{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.myorders .catbg{
    padding: 30px 20px;
    background-size: cover;
}
.myorders .add_new_category input[type="text"] , .add_new_category textarea{
    padding: 10px 40px;
    border-radius: 24px;
    border: none;
    background-color: #D9E0EA;
    width: 100%;
}
.add_new_category textarea{
    min-height:150px;
}
.myorders .add_new_category input[type="submit"]{
    background-color: #1A9CD6;
    color: #fff;
    border-radius: 24px;
    padding: 10px 40px;
}
.myorders .add_new_category_popup{
    top:25%;
}
.myorders .add_new_category_popup input[type="file"]{
    position: relative;
    opacity:0;
    height: 50px;
}
.myorders .add_image{
    background-color: #ea535f;
    /* clear: both; */
    color: #fff;
    padding: 8px;
    border-radius: 24px;
    text-align: left;
    font-size: 16px;
    width: 140px;
    margin-top: -53px;
}
.myorders .add_image i{
    background-color: #fff;
    padding: 10px;
    color: #ea535f;
    border-radius: 24px;
}

.myorders .modal-content{
    border-radius: 24px;
}

#Favourites .whitebg .liked_product_details h4{
    margin-bottom:0;
}

#Settings ul li {
    width: 50%;
    text-align: center;
}
#Settings ul{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 3px 12px -2px #868686;

}
#Settings ul li.active{
    border-right: 1px solid #ccc;
}
#Settings ul li a{
    color: #000;
    display: block;
    border-bottom: 5px solid #fff;
    padding: 15px;
}
#Settings ul li a.active{
    color: #ea535f;
    border-bottom: 5px solid #fab913;

}
#Settings .findfriends_boxshadow{
    background-color: #fff;
    padding: 10px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px -4px #909090;
    font-size: 18px;
    color: #808080;
    margin: 0px 25px 25px 25px;
    min-height: 70px;
    display: flex;
    align-items: center;
}
#Settings .findfriends_boxshadow .centerdivvertically{
    width: 100%;
}
.findfriends_boxshadow .icons img{
    margin-right: 10px;
    width:35px;
}

.findfriends_boxshadow .searchicon img{
    width:25px;
}


#Settings .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
    top:-2px;
}
#Settings .photossettingtag{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 3px 12px -2px #868686;
    padding: 15px;
}



.userprofilelinks{
    margin: 15px;
}
.userprofilelinks .row{
    margin:0;
}
.userprofilelinks .col-md-6{
    background-color: #fff;
    border-radius: 10px;
    /* margin: 35px; */
    box-shadow: 0px 3px 12px -2px #868686;
    padding: 15px;
    flex: 0 0 49%;
    max-width: 49%;


}
.userprofilelinks .col-md-6:nth-child(1){
    margin-right: 2%;

}
.userprofilelinks .col-md-6 a , .userprofilelinks .col-md-12 a{
    color:#6f6f6f;
    display: block;
}
.userprofilelinks .col-md-6 a span, .userprofilelinks .col-md-12 a span{
    font-size: 25px;
    line-height: 1;
    color: #139ed7;
}
.userprofilelinks .col-md-12{
    background-color: #fff;
    border-radius: 10px;
    /* margin: 35px; */
    box-shadow: 0px 3px 12px -2px #868686;
    padding: 15px;
    margin-bottom:15px;
}


#Settings .logoutbutton{
    background-color: #139ed7;
    color: #fff;
    padding: 5px 35px;
    border-radius: 24px;
    display: table;
    margin: 50px auto;
}
#Settings .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#Settings .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#Settings .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#Settings input:checked + .slider {
    background-color: #fab913;
}

#Settings input:focus + .slider {
    box-shadow: 0 0 1px #fab913;
}

#Settings input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
#Settings .slider.round {
    border-radius: 34px;
}

#Settings .slider.round:before {
    border-radius: 50%;
}
#Settings .notifiationtab{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 3px 12px -2px #868686;
    padding: 25px;
}
.notifiationtab p{

    margin-bottom:15px;
}
#Settings .notifiationtab hr{
    margin:0;
}

.cart .checktick{
    width: 20px;
    position: absolute;
    top: -10px;
    left: 5px;
    display:none;
}


/*

Responsive css

*/
@media screen and (max-width:768px){

    .desktopheader{
        display:none !important;
    }
    .mobileheader{
        display:block !important;
        padding: 5px 0 !important;
    }

    .mobileheader .header_language, .header_notification{

    }
    .mobileheader .header_notification a {
        font-size: 16px !important;
        width: 26px;
        padding: 5px;
    }
    .mobileheader .post_product a {
        margin-top: -30px;
        display: block;
        font-size: 0;
        padding: 6px;
        margin-bottom: 5px;
    }
    .mobileheader .edit_product a {
        margin-top: -30px;
        display: block;
        font-size: 0;
        padding: 6px;
        margin-bottom: 5px;
    }
    .mobileheader .post_product img{
        width: 20px;
    }
    .mobileheader .edit_product img{
        width: 20px;
    }
    .mobileheader .header_notification a  img{
        width: 20px;
    }
    .mobileheader .header_notification .badge-danger{
        line-height: 0.9;
        font-size: 10px;
        width: 18px;
        height: 18px;
        top: -14px;
        left: -14px;
    }
    .mobileheader .searchsubmit img{
        width: 13px;
        /*position: relative;*/
        top: -6px;
    }

    #header #logo{
        margin-bottom:0;
        float:none;
    }
    .mobileheader .container .row .col-md-9{
        text-align: center;
    }
    .header_language{
        font-size: 13px;
        /*display:none;*/
    }
    .header_language .sf-arrows .sf-with-ul {
        font-size: 13px;
        width: 20%;

    }
    #header{
        padding: 10px 0;
    }
    #intro h1{
        font-size: 35px;
    }
    .carousel-inner{
        text-align: center;
    }
    #intro .carousel-item{
        height:450px;
    }
    #intro{
        height:450px;
    }
    .slider_shopnow{
        font-size:18px;
        padding: 5px 30px;
    }
    .sliderbuttons.appstore img{

    }
    .header_language ul, .header_notification ul{
        float:none;
        width: 100%;
        text-align: center;
    }
    .searchbox{
        width: 85%;
        height: 25px;
        font-size: 13px;
    }
    .searchsubmit{
        height: 25px;
    }
    .header_language, .header_notification{
        margin-bottom: 0;
        text-align: center;
        margin-top: 8px;
    }
    .carousel-content .col-md-4{
        text-align:center;
    }


    #producttabs ul.nav.nav-tabs li a, #toplikestabverifiedusers ul.nav.nav-tabs li a{
        font-size: 16px;
        padding: 5px 15px;
    }
    #producttabs ul.nav.nav-tabs li, #toplikestabverifiedusers ul.nav.nav-tabs li {
        min-height: 28px;
    }
    #footer_top .container .row{
        width: 100%;
    }
    #footer_top .special_offers {

        font-size: 20px;
        margin-bottom: 15px;
    }
    #mobile-nav-toggle{
        position:absolute;
    }
    .chatrowbutton img{
        display:none;
    }
    #notification_popup .modal-dialog{
        max-width: 95%;
    }
    .notification_bar ul.nav.nav-tabs li a{
        padding: 4px 10px;
        font-size: 13px;
        margin-right: 0px;
    }
    #notification_popup .tab-pane .col-md-1{
        display:none;
    }
    .notification_bar .nav-tabs{
        padding-bottom: 2px;
    }
    .header_language ul li{
        width: 100%;
    }
    .post_product a{
        margin-top: 10px;
        display: inline-block;
        font-size: 15px;
        padding: 5px 20px;margin-bottom: 10px;
    }
    .edit_product a{
        margin-top: 10px;
        display: inline-block;
        font-size: 15px;
        padding: 5px 20px;margin-bottom: 10px;
    }
    .sf-arrows .sf-with-ul:after{
        display:none;
    }
    .nav-menu > li{
        margin-left: 0;
        float: none;
        display: inline-block;
    }
    .whitebg .product_img{
        width: 100%;
        text-align: center;
    }
    .liked_product_details {
        width: 100%;
    }
    .whitebg{
        display: block;
    }
    .userdiv {
        margin-right: 0;
        text-align: center;
    }
    .user_detials{
        text-align: center;
    }
    .whitebg .product_img img{
        /*width:auto;*/
    }
    .mt-5, .my-5 {
        margin-top: 1rem!important;
    }
    .shapenotification{
        display:none;
    }

    .myorders .tab , .myorders .tabcontent{
        width: 100%;
        height:auto;
    }
    #Settings .findfriends_boxshadow{
        padding: 10px;
        font-size: 14px;
    }
    .findfriends_boxshadow .icons img , .findfriends_boxshadow .searchicon img{
        width:25px;
    }
    #Settings .photossettingtag , #Settings .notifiationtab{
        margin: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .marginzero{
        width:100%;
    }
    .myorders .addnewcategory{
        margin-top: 50px;
        display: block;
        margin-bottom: 35px;
        width: 100%;
    }
    .myorders .catbg{
        background-size: 100% 100%;
        margin-bottom: 35px;
    }
    #Settings .switch{
        width: 50px;
        height: 27px;
        top: -4px;
    }
    #Settings .slider:before{
        height: 18px;
        width: 18px;
    }
    .notifiationtab p{
        font-size: 12px;
    }
    p.user_profile_buttons{
        position: inherit;
    }
    .redbuttons{
        padding: 4px 5px;
        font-size: 10px;
    }
    .cart .col-md-1{

    }



}






@media screen and (max-width:480px){

    #msform{
        padding: 15px;
    }
    #progressbar li{
        width: 40%;
    }
    #progressbar li:after{
        display:none;
    }
    .sliderbuttons.appstore img{
        width: 91px;
    }
    #intro .carousel-item {
        height: 280px;
    }
    #intro{
        height: 280px;
    }
    .carousel-indicators li{
        width:10px;
        height:10px;
    }


}


.productinfodots{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 6px 12px -6px #000;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%;
    top: 33px;
    right: 56px;
    display:none;
    z-index: 9;
}
#Personal .productinfodots
{
    width: 50%;
}
.productinfodots table{
    margin-bottom:0;
}
.productinfodots td{
    border-top: 0;
    border-bottom:1px solid #ccc;
    color: #000;
    font-weight: 600;
}
.productinfodots table tr:last-child td{
    border-bottom:0;
}
.shapeforthreedos{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 25px solid #ababab;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -25px;
    top: 16px;

}


.product_buttons{
    position:relative;
    margin-top: 20px;
}


.togglecontactdetials{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 6px 12px -6px #000;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%;
    top: -10px;
    right: -60px;
    z-index: 99;
    display:none;
}
#Personal .togglecontactdetials{
    width: 50%;
    left: 100px;
}

.togglecontactdetials table{
    margin-bottom:0;
}
.togglecontactdetials td{
    border-top: 0;
    border-bottom:1px solid #ccc;
    color: #000;
    font-weight: 600;
}
.togglecontactdetials table tr:last-child td{
    border-bottom:0;
}
.shapeforcontact{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 25px solid #ababab;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -25px;
    top: 16px;
}

/*
Checkout Tabs
*/
.checkouttabs {
    position: relative;
    border-bottom: none;
    counter-reset: my-sec-counter;
}
.checkouttabs li i {
    background-color: #D7DCE2;
    color: #6f7375;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
}
.checkouttabs li{
    position: relative;
}
.checkouttabs li:before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    position: absolute;
    bottom: -20px;
    left: 43%;
    text-align: center;
    background-color: #6f7375;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1.8;
}

.checkouttabs li.active i, .checkouttabs a.active i {
    background-color: #139ed7;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}
.checkouttabs li a.active:before, .checkouttabs li a.active:after {
    background: #e85460;
    color: white;
}
.checkouttabsbg .col-md-8{
    padding: 50px;
    position: relative;
    background-color: #EDF2F6;
    border-radius: 10px;
    box-shadow: 0px 5px 14px -3px #828282;

}
.checkouttabs li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 50px;
}

.checkouttabsbg .iconbg:nth-child(1) {
    background-color: #878787;
}
.checkouttabsbg .iconbg:nth-child(2) {
    background-color: #ea535f;
    color: #fff;
}
.checkouttabsbg .iconbg {
    width: 45%;
    float: left;
    text-align: center;
    padding: 50px 25px;
    margin-right: 5%;
    box-shadow: 0px 3px 19px -5px #000;
    border-radius: 10px;
    min-height: 200px;
}
.checkouttabsbg .pickupoption {
    display: flex;
    margin: 25px 80px 80px;
}
.checkouttabsbg input, .checkouttabsbg textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
    margin-bottom: 18px;
    color: #2C3E50;
}
.checkouttabsbg .action-button {
    background: #28a745;
    color: white;
    border-radius: 25px;
}

.checkouttabs li:nth-child(4):after{
    display:none;
}
.checkouttabsbg li:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1a9cd6;
    position: absolute;
    left: 0;
    top: 44%;
    z-index: 0;
    border-radius: 100%;
}
.checkouttabs li a.active:parent{
    color:red;
}
.btnNext , .btnPrevious{
    background: #1a9cd6;
    color: white !important;
    border-radius: 25px;
    width: 45%;
    float: none;
    margin: auto;
    display: block;
    margin-bottom:35px;
}
.checkoutpage .row.margintopminus{
    display:none;
}
.row.checkouttabsbg{
    margin-top: -80px;
    margin-bottom: 40px;
}

@media screen and (max-width:768px){
    .checkouttabsbg li:after {
        display:none;
    }
    .checkouttabsbg .iconbg{
        min-height:auto;
        padding: 25px;
    }
    .checkouttabsbg .pickupoption{
        margin: 25px 10px 80px;
    }

}

/*
Search Page
*/
.searchtabs{
    background-color: #D4DBE1;
    color: #fff;
    text-align: center;
    display: block;
}
.searchtabs li{
    display: inline-block;
}
.searchtabs li a{
    color: #000;
    padding: 15px 20px;
    display: block;
    font-size: 20px;
}
.searchtabsection{

}
.searchtabs li a.active{
    background-color: #E7EEF4;
}
.greybglight{
    background-color: #E7EEF4;
    padding: 50px 0;
}
.innersearch input{
    width: 85%;
    background-color: #FFFFFF;
    border: none;
    padding: 15px;
    height: 50px;
    border-radius: 24px 0px 0px 24px;
}
.innersearch button{
    background-color: #FFFFFF;
    border: none;
    padding: 15px;
    height: 50px;
    position: relative;
    top: 2px;
    border-radius: 0 24px 24px 0;
}
.searchtabsection .myorders .catbg{
    background-size: 100% 100%;
}
.singlecontact , .singlebuybutton{
    background-color: #1A9DD5;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 11px 24px 24px 11px;
}
.singleproduct .swiper-container{
    margin:0 !important;
    padding:0 !important;
}
.quantitycounter input{
    width:50px;
}
.quantitycounter button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    line-height: 30px;
}
.singleproduct .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ea535f;
}
.pagination_style{
    margin-top: 80px;
    margin-right: 350px;
    margin-left: 60px;
    width: 200px
}

/*
09-01-2019
*/

.cat_followuppertab a{
    border: 2px solid #797878;
    padding: 5px 15px;
    border-radius: 24px;
    color: #909090 !important;
}
.updateinfo{
    background-color: #1A9DD6;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 24px;
}

.followersshowhide p.cat_follow a{
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 24px;
    color: #fff !important;
}
.fixbox{
    width: 255px;
    height: 477px;
}
.userbox{
    width: 228px;
    height: 332.41px;
}
.showdetialss{
    font: normal normal normal 30px/1 FontAwesome;
    position: absolute;
    right: 15px;
}

.bigproduct{
    /*height: 534px;*/
    height: 558px;
}
#c_botton{

}

.explore_follow{




}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none !important;
    background-color: #fff;
    box-shadow: 0px 5px 16px -3px #929292;
    padding: 15px;
    margin-bottom: 20px;
    height: auto !important;
    border-radius: 10px;
}
.select2-container--default .select2-selection--multiple {
    border: none !important;
    background-color: #fff;
    box-shadow: 0px 5px 16px -3px #929292;
    padding: 15px;
    margin-bottom: 20px;
    height: auto !important;
    border-radius: 10px;
}


/*@media screen and (width:768px){*/

    /*.header_language .sf-arrows .sf-with-ul {*/
        /*font-size: 13px;*/
        /*width: 55%;*/

    /*}*/
    /*.mobileheader .post_product a {*/
        /*font-size: 15px;*/
        /*padding: 5px 20px;*/
    /*}*/
/*}*/
