/*
    Created on : Mar 20, 2015, 5:28:06 PM
    Author     : devashish
*/
.mck-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 22436000;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	font-size: 12px;
	line-height: 18px;
	vertical-align: middle;
	text-align: left;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}

.mck-mike-btn {
        background-image: url('/images/mck-mic-sidebox.png');
        background-repeat: no-repeat;
        float :left !important;
        margin-top: 7px;
        height:19px;
        width:19px;
	      overflow: hidden;
        background-size: 20px;
        cursor: pointer;
}

.mck-stop-btn {
        background-image: url(../../../images/mck-stop.png);
        background-repeat: no-repeat;
        float :left !important;
       /* margin-top: 4px;*/
        height:27px;
        width:25px;
	      overflow: hidden;
        /*opacity: 0.4;*/
        background-size: 25px;
        cursor: pointer;
}


.mck-videocall-btn {
        background-image: url(../../../images/mck-videocall-icon.png);
	background-repeat: no-repeat;
        float :right !important;
        margin-top: 14px;
        position: absolute;
	overflow: hidden;
        opacity: 0.4;
        background-size: 20px;
        cursor: pointer;
}

#mck-vid-icon img {
	width: 50px;
	height: 55px;
	margin-right: 12px;
	border-radius: 50%
}

.mck-download-btn {
        background-image: url(../../../images/download.png);
	width: 10px ;
        height: 10px;
        padding:5px;
        position: absolute;
	overflow: hidden;
        background-size: 20px;
}
.mck-msg-reply {
	background-color: #0073b7;

}

.mck-image-reply {
	height: 50px;
	width: 50px;
}

.mck-msgto {
    color : chartreuse;
    padding: 3px;
    text-align: left;
}

/*.mck-attachmentmsgto {
    color : chartreuse;
    padding: 3px;
}*/

.mck-msglist-msgto {
    color : chartreuse;
    padding: 3px;
    text-align: left;
}

#mck-reply-msg {
	padding-left:3px;
}

.mck-verticalline {
  border-left: thick solid white;
  border-left-width: medium;
}

.mck-msgreply-border {
    color : white;
    padding : 2px;
    text-align: center;
    overflow: hidden;
}

.mck-download-msg-right {
	float: right;
	padding-right: 25px;
        padding-top: 27px;
}
.mck-download-msg-left {
	float: left;
	padding-right: 15px;
        padding-top: 20px;
}

.mck-sidebox {
	position: fixed !important;
	height: 100% !important;
	right: 0 !important;
	left: auto !important;
	margin: 0 !important;
	border: 0 !important;
	padding-left: 0px !important;
	z-index: 22435000 !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	line-height: 18px;
	min-width: 310px;
}

.mck-box .mck-row {
	margin-right: -15px;
	margin-left: -15px;
}

.mck-box * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

.mck-box *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mck-box .mck-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.mck-sidebox .mck-group-member-info .mck-caret {
	border-top: 8px solid #7B7B7B;
}

.mck-form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.mck-select {
	width: 100%;
	background-color: #fff !important;
	border: 0;
	height: 20px;
	outline: none;
	display: block;
	padding: 6px 0;
	border-radius: 4px;
}

.mck-message-sent {
	background-color: white;
}

.mck-message-delivered {
	background-color: green;
}

.minimize-icon {
	margin-right: 12px;
}

.mck-bg-white {
	background-color: #fff;
}

.mck-show-more-icon {
	position: absolute;
	display: table-row;
	top: 50%;
	bottom: 0;
	width: 100%;
	text-align: center;
	overflow: auto;
}

.mck-sidebox .mck-show-more-icon h3 {
	font-weight: 500 !important;
	font-size: 15px;
}

.mck-no-b {
	border: 0px;
}

.mck-p-md {
	padding: 24px;
}

.mck-m-b {
	margin-bottom: 12px;
	margin-top: 12px;
	position: relative;
	overflow: visible;
	min-height: 1px;
}

.mck-sidebox .mck-clear {
	display: block;
	overflow: hidden;
}

.mck-box-open {
	padding-right: inherit !important;
}

.mck-box-open .mck-box, .mck-box-open .mck-box {
	overflow-x: hidden;
	overflow-y: auto;
}

.mck-box div, .mck-box .mck-box-title {
	font-family: Heslvetica Neue, Helvetica, Arial, sans-serif !important;
}

.mck-sidebox .mck-box-title {
	/*color: #333;*/
    color: #fff;
}

.mck-box .move-right {
	float: right !important;
}

.mck-box .move-left {
	float: left !important;
}

.mck-sidebox .mck-text-center {
	text-align: center !important;
}

.mck-sidebox .n-vis, .mck-sidebox .hide, .mck-sidebox-launcher .n-vis,
	.mck-sidebox-launcher.n-vis, .mck-msg-preview.n-vis, .n-vis {
	display: none !important;
}

.mck-box .vis, .mck-box .show, .mck-sidebox-launcher .vis,
	.mck-sidebox-launcher.vis, .mck-msg-preview.vis {
	display: block !important;
}

.mck-box-body .mck-tab-cell.vis {
	display: table !important;
}

.mck-sidebox p {
	margin: 0 0 10px;
}

.mck-sidebox .mck-msg-content p, .mck-preview-msg-content p {
	margin: 0;
}

.mck-sidebox b, .mck-sidebox strong {
	font-weight: 700;
}

.mck-sidebox a {
	color: #168eea;
}

.mck-sidebox  a {
	background-color: transparent;
}

.mck-sidebox a:hover {
	color: #11505d;
	text-decoration: underline;
}

.mck-sidebox a:focus {
	outline: none !important;
}

.mck-form-group {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.mck-form-group.last-child {
	margin-bottom: 0px;
}

.mck-sidebox button, .mck-sidebox input, .mck-sidebox optgroup,
	.mck-sidebox select, .mck-sidebox textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

.mck-sidebox button {
	overflow: visible;
}

.mck-sidebox button, .mck-sidebox select {
	text-transform: none;
}

.mck-sidebox button, .mck-sidebox input[type=button], .mck-sidebox input[type=reset],
	.mck-sidebox input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

.mck-sidebox input {
	line-height: normal;
}

.mck-sidebox input[type=file] {
	display: block;
}

.mck-sidebox button, .mck-box input, .mck-box select, .mck-box textarea
	{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.mck-sidebox .mck-form-cntrl {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mck-sidebox .progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.mck-sidebox .progress-bar-success {
	background-color: #5cb85c;
}

.mck-sidebox .progress-bar-striped, .mck-sidebox .progress-striped,
	.mck-sidebox .progress-bar {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}

.mck-sidebox .progress-striped .mck-sidebox .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.mck-sidebox .progress-bar.active, .mck-sidebox .progress.active .progress-bar
	{
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.mck-btn {
	display: inline-block;
	padding: 5px 6px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.mck-box-footer .mck-btn {
	font-size: 12px;
}

.footer-controls {
    float:right;
    margin:5% 25% 0% 0%;
}

.mck-btn-blue {
	color: #fff !important;
	background-color: #337ab7 !important;
	border-color: #2e6da4;
}

.mck-sidebox .mck-btn-light {
	background: #F2F2F2 !important;
	border-color: #B6C2C9 !important;
	font-size: 13px !important;
}

.mck-sidebox .mck-btn-light:hover {
	background: #fff !important;
}

.mck-btn.focus, .mck-btn:focus, .mck-btn:hover {
	color: #333;
	text-decoration: none;
}

.mck-btn.active, .mck-btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.mck-btn-blue.active, .mck-btn-blue.focus, .mck-btn-blue:active,
	.mck-btn-blue:focus, .mck-btn-blue:hover, .mck-box .open>.dropdown-toggle.mck-btn-blue
	{
	color: #fff;
	background-color: #286090;
	outline: none;
}

.mck-btn-blue.active, .mck-btn-blue:active, .mck-box .open>.mck-dropdown-toggle.mck-btn-blue
	{
	background-image: none;
}

.mck-btn.active.focus, .mck-btn.active:focus, .mck-btn.focus, .mck-btn:active.focus,
	.mck-btn:active:focus, .mck-btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.mck-sidebox .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.mck-sidebox label {
	display: inline-block;
	max-width: 100%;
	font-weight: 700;
	clear: none;
	margin: 0;
	padding: 0;
}

.mck-box-s {
	box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.mck-fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.mck-box .mck-box-backdrop.mck-fade {
	filter: alpha(opacity = 0);
	opacity: 0;
}

.mck-box.mck-fade.in {
	opacity: 1;
	background: transparent !important;
	width: 100%;
}

.mck-sidebox.mck-fade.in {
	width: 310px;
    direction: ltr;

}

.mck-box .mck-box-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .5;
}

.mck-sidebox .mck-box-backdrop.in {
	width: 310px;
	right: 0;
	left: auto;
}

.mck-box .mck-box-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0 !important;
	background-color: #000;
}

.mck-box-backdrop {
	position: absolute !important;
	z-index: 0;
}

.mck-box .mck-box-backdrop {
	background: transparent;
}

.mck-box .mck-box-dialog.md-box-s {
	max-width: 300px;
}

.mck-sidebox .mck-right {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
}

.mck-box-title {
	height: 48px;
	font-size: 18px;
	line-height: 48px;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

.mck-box.mck-fade .mck-box-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

.mck-box.in .mck-box-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.mck-box.mck-fade .mck-right {
	-webkit-transform: translate3d(80%, 0, 0);
	transform: translate3d(80%, 0, 0);
	-webkit-transition: -webkit-transform .4s
		cubic-bezier(0.25, 0.8, 0.25, 1);
	-moz-transition: -moz-transform .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-o-transition: -o-transform .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: transform .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin: 0;
	height: 100%;
}

.mck-box.in .mck-left, .mck-box.in .mck-right, .mck-box.in .mck-top,
	.mck-box.in .mck-bottom {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mck-sidebox h1, .mck-sidebox h2, .mck-sidebox h3, .mck-sidebox h4,
	.mck-sidebox h5, .mck-sidebox h6 {
	font-weight: 300 !important;
}

.mck-box-footer {
	padding: 10px 15px;
	border-top: 1px solid #e5e5e5;
}

.mck-box-footer:before {
	display: table;
	content: " ";
}

.mck-box-footer .mck-btn+.mck-btn {
	margin-bottom: 0;
	margin-right: 5px;
}

.mck-box-content {
	border: 0;
	display: table;
	width: 100%;
	border-spacing: 0;
	outline: 0;
	table-layout: fixed;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.mck-sidebox .mck-box-content {
	height: 100%;
}

.mck-box-top {
	padding: 0 10px;
	min-height: 49px;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
    background: #ea535f;

}

.mck-box-top .icon {
	margin-right: 12px;
}

.mck-box-top [class*="blk-"] {
	height: 48px;
	line-height: 48px;
}

.mck-box-top.mck-row {
	margin: 0px;
}

.mck-box-top .blk-lg-2 {
	width: 20px;
}

.mck-sidebox-search .mck-box-top, .mck-search-tab-box {
	padding-right: 0;
}

.mck-search-tab-box, .mck-search-box-top {
	background-color: rgba(241, 241, 241, .6);
}

.mck-gm-search-box .mck-box-top .blk-lg-3 {
	width: 30px;
	height: inherit;
	padding: 14px 0;
}

.mck-sidebox-search .mck-box-top .blk-lg-5 {
	width: calc(100% - 60px);
}

.mck-gm-search-box .mck-box-top .blk-lg-7 {
	width: calc(100% - 50px);
}

.mck-search-box-top {
	border-bottom: 0 !important;
	padding-right: 10px !important;
}

.mck-start-new-menu {
	height: inherit;
}

.mck-start-new-menu .mck-dropdown-toggle {
	padding: 10px 0;
}

.mck-conversation-header {
	min-height: 35px;
	text-align: left;
	font-size: 15px;
	padding: 0 10px;
	margin: 0;
	vertical-align: middle;
	line-height: 35px !important;
	color: #3b5998;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.mck-sidebox .mck-product-group {
	width: 100%;
}

.mck-sidebox .mck-product-box {
	padding: 5px;
	background: #F1F4F9;
	min-height: 45px;
	text-align: left;
	cursor: pointer;
}

.mck-sidebox .mck-msg-form {
	margin: 0;
}

.mck-sidebox .mck-product-box:hover, .mck-sidebox .mck-product-box:focus
	{
	background-color: #F9F9F9;
}

.mck-product-box .mck-caret:hover, .mck-product-box .mck-caret:focus {
	border-top-color: goldenrod;
}

.mck-sidebox .mck-product-box .mck-product-title {
	font-weight: bold;
}

.mck-tab-panel .mck-row {
	margin: 0;
}

.mck-sidebox .mck-product-box .blk-lg-2 {
	width: 15px;
	height: 45px;
}

.mck-sidebox .mck-product-box .blk-lg-10 {
	width: calc(100% - 15px);
	height: 45px;
}

.mck-sidebox .mck-tab-menu-box .blk-lg-10 {
	width: 270px;
}

.mck-sidebox .mck-tab-menu-box .blk-lg-2 {
	width: 30px;
}

.mck-sidebox .mck-tab-menu-box img {
	height: 30px;
}

.mck-sidebox .mck-product-box-wc .blk-lg-10 {
	width: 100%;
}

.mck-sidebox .mck-product-box-wc .blk-lg-2 {
	width: 0px;
}

.mck-sidebox .mck-product-box .mck-product-icon img {
	height: 45px;
	width: 45px;
}

.mck-sidebox .mck-product-box .mck-product-title {
	color: #6a5fac;
}

.mck-file-expr .mck-box-close {
	font-size: 18px !important;
}

.mck-box-close {
	float: right;
	font-size: 28px !important;
	font-weight: 700;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	outline: none;
}

.mck-box-close span {
	vertical-align: middle;
}

.mck-box-title {
	text-align: left !important;
	margin: 0;
	font-size: 18px;
	vertical-align: middle;
	overflow: hidden;
}

.mck-box-body {
	position: relative;
	padding: 15px;
}

.mck-gm-search-box .mck-box-body {
	padding: 10px;
}

.mck-top-btn-panel {
	margin: 0px;
	padding: 4px 0;
	background-color: silver;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.mck-top-btn-panel .mck-btn {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 13px !important;
}

.mck-price-widget {
	background-color: #fff;
	margin: 0px !important;
	padding: 4px 0;
	height: 32px !important;
}

.mck-price-widget .mck-btn {
	margin-left: 5px;
	font-size: 13px !important;
}

.mck-price-widget .mck-widget-panel {
	padding: 0 5px;
}

.mck-price-widget input {
	height: 30px;
	padding: 0 5px;
	width: 200px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	outline: none;
	background-color: #F5F5F5;
	background-image: none;
	border: 1px solid #00AFF0;
	border-radius: 4px;
	position: relative;
	z-index: 2;
	float: left;
	margin-bottom: 0;
	display: table-cell;
}

.mck-box .mck-btn-green {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.mck-sidebox .mck-btn-green.active, .mck-sidebox .mck-btn-green.focus,
	.mck-sidebox .mck-btn-green:active, .mck-sidebox .mck-btn-green:focus,
	.mck-sidebox .mck-btn-green:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.mck-box ol, .mck-box ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.mck-box .mck-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.mck-box .mck-nav-tabs {
	border-bottom: 1px solid #ddd;
}

.mck-box .mck-nav-panel {
	margin-top: 10px;
	display: block;
	float: left;
	width: 100%;
}

.mck-box strong {
	font-weight: 700;
}

.mck-box .mck-nav-panel .mck-nav-item {
	float: left;
	text-align: center;
	width: calc(50% - 22px);
	padding: 0 10px;
}

.mck-box .mck-nav-panel .mck-tabview-item {
	float: left;
	text-align: center;
	width: calc(25% - 22px);
	padding: 0 10px;
}

.mck-nav-divider {
	border-right: 2px solid #e5e5e5;
}

.mck-box  .mck-nav-panel .mck-nav-link, .mck-box .mck-tabview .mck-nav-link {
	display: block;
	padding: 5px 0;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

.mck-box  .mck-nav-panel .mck-nav-link:hover, .mck-box .mck-nav-panel .mck-nav-link:focus, .mck-box .mck-tabview .mck-nav-link:hover, .mck-box .mck-tabview .mck-nav-link:focus
	{
	color: #11b8bb;
	background-color: inherit;
	text-decoration: none;
}

.mck-box .mck-nav-panel .mck-nav-link.active {
	color: #11b8bb;
	cursor: default;
	text-decoration: none;
	border-bottom: solid 3px #11b8bb;
}

.mck-box .btn-group-vertical>.btn-group:after, .mck-box .btn-group-vertical>.btn-group:before,
	.mck-box .btn-toolbar:after, .mck-box .btn-toolbar:before, .mck-sidebox .clearfix:after,
	.mck-box .clearfix:before, .mck-box .container-fluid:after, .mck-box .container-fluid:before,
	.mck-box .container:after, .mck-box .container:before, .mck-box .dl-horizontal dd:after,
	.mck-box .dl-horizontal dd:before, .mck-box .mck-form-group:after,
	.mck-box .mck-form-group:before, .mck-box .mck-box-ft:after, .mck-box .mck-box-ft:before,
	.mck-box .nav:after, .mck-box .nav:before, .mck-box .navbar-collapse:after,
	.mck-box .navbar-collapse:before, .mck-box .navbar-header:after,
	.mck-box .navbar-header:before, .mck-box .navbar:after, .mck-box .navbar:before,
	.mck-box .pager:after, .mck-box .pager:before, .mck-box .panel-body:after,
	.mck-box .panel-body:before, .mck-box .mck-row:after, .mck-box .mck-row:before
	{
	display: table;
	content: " ";
}

.mck-box  .btn-group-vertical>.btn-group:after, .mck-box  .btn-toolbar:after,
	.mck-box  .clearfix:after, .mck-box .container-fluid:after, .mck-box .container:after,
	.mck-box .dl-horizontal dd:after, .mck-box .form-horizontal .mck-form-group:after,
	.mck-sidebox-ft :after, .mck-box .nav:after, .mck-box  .navbar-collapse:after,
	.mck-box  .navbar-header:after, .mck-box  .navbar:after, .mck-sidebox  .pager:after,
	.mck-box  .panel-body:after, .mck-box  .mck-row:after {
	clear: both;
}

.mck-box .mck-nav>li {
	position: relative;
	display: block;
}

.mck-box  .mck-nav-tabs>li {
	float: left;
}

.mck-box .mck-nav-stacked>li {
	float: none;
}

.mck-box .mck-nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.mck-box .mck-nav-tabs>li>a {
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.mck-box .mck-contact-list {
	margin: 0 !important;
	background-color: white;
	border-bottom: none;
}

.mck-contact-list li .blk-lg-3, .mck-sidebox-launcher .blk-lg-3,
	.mck-contact-list li .blk-lg-9, .mck-sidebox-launcher .blk-lg-9,
	.mck-contact-list li .blk-lg-12, .mck-contact-list li .blk-lg-8 {
	padding: 0;
}

.mck-box .blk-lg-1, .mck-box .blk-lg-10, .mck-box .blk-lg-11, .mck-box .blk-lg-12,
	.mck-box .blk-lg-2, .mck-box .blk-lg-3, .mck-sidebox-launcher .blk-lg-3,
	.mck-box .blk-lg-4, .mck-box .blk-lg-5, .mck-box  .blk-lg-6, .mck-box .blk-lg-7,
	.mck-box .blk-lg-8, .mck-box .blk-lg-9, .mck-sidebox-launcher .blk-lg-9,
	.mck-box .blk-md-1, .mck-box .blk-md-10, .mck-box .blk-md-11, .mck-box .blk-md-12,
	.mck-box .blk-md-2, .mck-box .blk-md-3, .mck-box .blk-md-4, .mck-box .blk-md-5,
	.mck-box .blk-md-6, .mck-box .blk-md-7, .mck-box .blk-md-8, .mck-box .blk-md-9,
	.mck-box .blk-sm-1, .mck-box .blk-sm-10, .mck-box .blk-sm-11, .mck-box .blk-sm-12,
	.mck-box .blk-sm-2, .mck-box .blk-sm-3, .mck-box .blk-sm-4, .mck-box .blk-sm-5,
	.mck-box .blk-sm-6, .mck-box .blk-sm-7, .mck-box .blk-sm-8, .mck-box .blk-sm-9,
	.mck-box .blk-xs-1, .mck-box .blk-xs-10, .mck-box .blk-xs-11, .mck-box .blk-xs-12,
	.mck-box .blk-xs-2, .mck-box .blk-xs-3, .mck-box .blk-xs-4, .mck-box .blk-xs-5,
	.mck-box .blk-xs-6, .mck-box .blk-xs-7, .mck-box .blk-xs-8, .mck-box .blk-xs-9
	{
	position: relative;
	min-height: 1px;
}

.mck-box .mck-contact-list li {
	float: left;
	width: 100%;
}

.mck-box .mck-contact-list .mck-row, .mck-msg-preview .mck-row {
	margin: 0;
	text-align: left !important;
}

.mck-box .mck-contact-list .mck-conversation-topic {
	min-height: 15px;
	text-align: left;
	font-size: 12px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	line-height: 15px !important;
	overflow: hidden;
}

.mck-box .mck-contact-list li a, .mck-sidebox .mck-group-member-list li a
	{
	color: #444 !important;
	border-radius: 0;
	border-bottom: 1px solid #F3F3F3 !important;
	line-height: 18px;
	padding: 5px;
	background-color: #fff !important;
	text-decoration: none;
}

.mck-product-group.mck-btn-group.open .mck-dropdown-toggle {
	box-shadow: none !important;
}

.mck-sidebox .mck-caret {
	border-top: 8px solid;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

.mck-product-group .mck-caret {
	margin-top: 20px;
}

.mck-dropdown-menu {
	position: absolute;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 100px;
	max-width: 300px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0
		rgba(0, 0, 0, 0.1) !important;
}

.mck-dropup-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	bottom: 32px;
	float: left;
	min-width: 100px;
	max-width: 300px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0
		rgba(0, 0, 0, 0.1) !important;
}

.mck-product-group .mck-dropdown-menu {
	min-width: 100%;
	border-top: 1px solid #E5E5E5;
}

.open>.mck-dropdown-menu, .open>.mck-dropup-menu {
	display: block;
}

.mck-dropdown-menu.menu-right, .mck-dropup-menu.menu-right {
	right: 0;
	left: auto;
}

.mck-dropup-menu:before {
	bottom: -8px;
	left: 5px;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
	border-left: 8px solid transparent;
}

.mck-dropdown-menu:before {
	top: -8px;
	left: 9px;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	border-left: 8px solid transparent;
}

.mck-dropdown-menu:after, .mck-dropdown-menu:before, .mck-dropup-menu:before,
	.mck-dropup-menu:after {
	right: auto;
	position: absolute;
	display: inline-block !important;
	content: '';
}

.mck-dropdown-menu li, .mck-dropup-menu li {
	height: inherit;
}

.mck-dropdown-menu li>a, .mck-dropup-menu li>a, .mck-dropdown-menu .mck-dropdown-link,
	.mck-context-menu li>a {
	clear: both;
	color: #419ab1 !important;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: normal;
	float: none;
	line-height: 18px;
	margin: 0;
	padding: 5px 20px !important;
	position: relative;
	text-shadow: none;
	white-space: nowrap;
	text-decoration: none;
	font-size: 12px;
	text-align: left !important;
	height: inherit;
	text-transform: none;
}

.mck-dropup-menu.mck-upload-menu-list li a {
	text-align: center !important;
	padding: 5px 10px !important;
}

.mck-dropdown-menu li a .menu-icon, .mck-dropup-menu li a .menu-icon {
	height: 25px;
	width: 25px;
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
}

.mck-dropdown-menu.menu-right:before, .mck-dropup-menu.menu-right:before
	{
	right: 5px;
	left: auto;
}

mck-sidebox .mck-dropdown-menu>li>a:focus, .mck-dropup-menu>li>a:focus,
	.mck-sidebox .mck-group-member-list .mck-dropdown-menu>li>a:focus,
	.mck-sidebox .mck-dropdown-menu>li>a:hover, .mck-dropup-menu>li>a:hover,
	.mck-sidebox .mck-group-member-list .mck-dropdown-menu>li>a:hover,
	.mck-context-menu li>a:hover, .mck-context-menu li>a:focus {
	color: #262626 !important;
	text-decoration: none;
	background-color: #F5F5F5 !important;
}

.mck-attach-menu {
	position: relative;
}

.mck-box .mck-contact-list li:last-child a, .mck-sidebox .mck-group-member-list li:last-child .mck-group-member-info
	{
	border-bottom: 0 !important;
}

.mck-box .mck-contact-list li a:hover, mck-sidebox .mck-group-member-list li a:hover
	{
	text-decoration: none;
}

.mck-sidebox .mck-btn span {
	display: block;
	float: left;
}

.mck-sidebox .mck-box-body {
	padding: 0;
	position: relative;
	display: table-row;
	height: 100%;
}

.mck-box-body .mck-tab-cell {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.mck-gm-search-box .mck-box-body .mck-tab-cell {
	height: 300px;
}

.mck-box-body .mck-message-inner {
	position: absolute;
	background-color: #eceff1;
	display: table-row;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.mck-gm-search-box .mck-box-body .mck-message-inner {
	height: 300px;
	background-color: #fff;
}

.mck-sidebox-search .mck-box-body .mck-message-inner {
	background-color: #fff;
	margin: 5px 0;
}

.mck-box-body .mck-msg-w-panel {
	top: 40px !important;
	overflow: auto;
}

.mck-box-body .mck-msg-w-widget {
	top: 80px !important;
	overflow: auto;
}

.mck-message-inner .blk-lg-12 {
	padding: 0;
}

.mck-box-ft {
	text-align: left;
	border-top: 1px solid #e5e5e5;
	padding: 10px 5px;
}

.mck-box-ft .mck-row {
	margin: 0;
}

.mck-box-ft .blk-lg-6 {
	padding: 0px !important;
}

.mck-box-ft-lt {
	text-align: left;
}

.mck-box-ft-lt .mck-btn {
	font-size: 16px;
	text-transform: none;
}

.mck-sidebox .mck-sidebox-error {
	background-color: #FFDFDF;
	color: #885E5E;
	padding: 8px 5px;
	margin-bottom: 10px;
	border: 1px solid #FFCFCF;
	font-size: 12px !important;
	text-align: center;
}

.mck-no-mb {
	margin-bottom: 0 !important;
}

.mck-box-error {
	color: #885E5E;
}

.mck-sidebox-success, .mck-box-response {
	background-color: lightgreen;
	color: #3c763d;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #BFE0EC;
	font-size: 12px !important;
	text-align: center;
}

.mck-sidebox input, .mck-sidebox textarea, .mck-sidebox select {
	background-color: #f5f5f5;
}

.mck-sidebox textarea {
	resize: none;
}

.mck-textbox-container {
	width: 100%;
	outline: none;
	margin: auto;
	background-color: #fff;
	text-align: center;
}

.mck-text-box.mck-text {
	padding: 5px;
	min-height: 18px;
	max-height: 78px;
	resize: none;
	background-color: #E7F1F5;
	width: calc(100% - 120px);
	outline: none;
	margin: 0px;
	font-size: 14px;
	overflow: auto;
	line-height: 1.2em;
	vertical-align: middle;
	overflow-x: hidden;
	display: inline-block !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	border: 1px solid #E7F1F5;
	border-radius: 4px;
	box-shadow: none !important;
	-webkit-user-select: text;
}

.mck-text-box-panel {
	width: 25px !important;
}

.mck-text-box-panel .mck-blk-12 {
	height: 30px;
}

.mck-blk-2.mck-text-box-panel .mck-btn:hover, .mck-blk-2.mck-text-box-panel .mck-btn:focus
	{
	outline: none;
}

.mck-text-box-panel label, .mck-text-box-panel button {
	height: 30px !important;
}

.mck-btn-text-panel {
	background: transparent !important;
	border: none !important;
	text-shadow: none;
	box-shadow: none;
	font-size: 20px !important;
	width: 25px !important;
	padding: 0 !important;
}

.mck-btn-text-panel:active {
	box-shadow: none !important;
	outline: none !important;
}

.mck-btn-text-panel img {
	height: 25px;
	width: 25px;
	margin-top: -3px;
	vertical-align: middle;
	opacity: 0.7;
}

.mck-text-box-panel.move-right img {
	opacity: 1;
}

.mck-sidebox .mck-btn-smiley:active, .mck-sidebox .mck-btn-smiley:focus
	{
	box-shadow: none;
	border: 0 !important;
	outline: none !important;
}

.mck-file-box {
	width: 100%;
	margin-top: 2px !important;
}

.mck-file-box .mck-file-expr {
	background-color: lavender;
	color: #5EA9DD;
	padding: 2px 3px !important;
	font-size: 12px !important;
	font-weight: bold;
	overflow: hidden;
	max-height: 30px;
	border-radius: 4px;
}

.mck-file-box .mck-file-content {
	padding: 0px;
	width: 200px;
}

.mck-file-box .mck-file-lb {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	max-width: 70%;
}

.mck-file-box  .mck-file-sz {
	color: #777;
	display: inline-block;
	vertical-align: middle;
}

.mck-file-expr .progress {
	height: 20px;
	padding: 0px;
	margin: 0px;
	width: 60px !important;
}

.mck-file-expr .progress .bar {
	height: 20px;
	background: green;
	border-radius: 4px;
	width: 0%;
}

.mck-text-req {
	border: 1px solid #EB5858 !important;
}

.mck-msg-box {
	padding: 8px;
	border: 0px;
	border-radius: 3px;
	display: inline-block;
	max-width: 85%;
	min-height: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.mck-cont-msg-wrapper img, .mck-file-text .mck-file-name img {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.mck-cont-msg-wrapper p {
	font-size: 14px;
	margin: 0px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mck-file-text .mck-file-name img:hover {
	opacity: 1 !important;
	background-color: transparent !important;
}

.mck-icon-camera, .mck-icon-marker {
	opacity: 0.6;
}

.mck-cont-name strong {
	vertical-align: middle;
}

.mck-ol-icon {
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 110px;
	background-color: green;
}

.mck-ol-status.vis {
	display: inline-block !important;
}

.mck-msg-text {
	white-space: pre-wrap;
	word-wrap: break-word;
	position: relative;
}

.mck-msg-content img {
	max-width: 225px !important;
	max-height: 200px !important;
}

.mck-msg-left .mck-msg-box {
	position: relative;
	float: left;
	color: #333;
	font-size: 14px;
	margin-left: 15px;
	min-height: 22px;
	padding: 10px 14px 12px;
	max-width: 70%; /* all browsers */
	max-width: -moz-calc(85% - 58px); /* Firefox 4+ */
	max-width: calc(85% - 58px); /* IE9+ and future browsers */
	border-radius: 5px;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
	background: #dcf8c6;
}

.mck-msg-right .mck-msg-box a {
	color: #fff;
	text-decoration: underline;
}

.mck-msg-left .mck-msg-box a {
	color: #333;
	text-decoration: underline;
}

.mck-msg-left .mck-msg-box a:hover {
	color: rgb(218, 85, 47);
}

.mck-msg-right .mck-msg-box a:hover {
	color: yellow;
}

.mck-msg-left .mck-msg-box:after, .mck-msg-left .mck-msg-box:before {
	right: 100%;
	height: 0;
	width: 0;
	position: absolute;
}

/*
.mck-msg-avator-bubble.mck-msg-left .mck-msg-box:after,
	.mck-msg-avator-bubble.mck-msg-left .mck-msg-box:before {
	right: calc(100% - 58px);
}*/

.mck-msg-right .mck-msg-box:after, .mck-msg-right .mck-msg-box:before {
	left: 100%;
	height: 0;
	width: 0;
	position: absolute;
}

/*
.mck-msg-avator-bubble.mck-msg-right .mck-msg-box:after,
 	.mck-msg-avator-bubble.mck-msg-right .mck-msg-box:before {
 	left: calc(100% - 58px);
}*/

.mck-msg-left .mck-msg-box:after, .mck-msg-right .mck-msg-box:after {
	top: 50%;
	margin-top: -11px;
}

.mck-msg-left .mck-msg-box:before, .mck-msg-right .mck-msg-box:before {
	top: 50%;
	margin-top: -12px;
}

.mck-msg-left .mck-msg-box:after, .mck-msg-left .mck-msg-box:before,
	.mck-msg-right .mck-msg-box:after, .mck-msg-right .mck-msg-box:before {
	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.mck-msg-left .mck-msg-box:after {
	border-color: transparent;
	border-right-color: #dcf8c6;
	border-width: 11px;
}

.mck-msg-right .mck-msg-box:after {
	border-color: transparent;
	border-left-color: #2196f3;
	border-width: 11px;
}

.mck-msg-left .mck-msg-box:before {
	border-color: transparent;
	border-right-color: #ddd;
	border-width: 12px;
}

.mck-msg-right .mck-msg-box:before {
	border-color: transparent;
	border-left-color: #ddd;
	border-width: 12px;
}

.mck-text-xs {
	font-size: 12px;
}

.mck-t-xs {
	margin-top: 4px;
}

.mck-text-muted {
	color: inherit;
	opacity: .40;
}

.mck-msg-left-muted {
	float: left;
	padding-left: 15px;
}

.mck-msg-avator-bubble .mck-msg-left-muted {
	margin-left: 46px;
}

.mck-msg-right-muted {
	float: right;
	padding-right: 15px;
}

.mck-msg-avator-bubble .mck-msg-right-muted {
	margin-right: 44px;
}

.mck-msg-box .mck-attachment img {
	max-height: 120px;
	max-width: 225px;
	width: inherit;
}

.mck-file-text {
	padding-left: 0 !important;
	padding-right: 0 !important;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

.mck-msg-box .mck-attachment img:hover {
	opacity: 0.4;
	background-color: rgba(0, 0, 0, 0.2);
}

.mck-file-upload .mck-btn img {
	vertical-align: middle;
	height: 30px;
}

.mck-file-upload input {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.mck-video-call-indicator-txt{
    color:white;
    font-weight: bold;
}

.mck-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mck-contact-list li .col-lg-3, .mck-contact-list li .col-lg-9,
	.mck-contact-list li .col-lg-12, .mck-contact-list li .col-lg-8 {
	padding: 0;
}

.mck-msg-avator-bubble .mck-msg-avator {
	display: block;
	top: 50%;
	position: absolute;
	margin-top: -21.5px;
}

.mck-msg-avator-bubble.mck-msg-right .mck-msg-avator {
	float: right;
	right: 0;
}

.mck-msg-avator-bubble.mck-msg-left .mck-msg-avator {
	float: left;
	left: 0;
	margin-left: 3px;
}

.mck-msg-avator-bubble.mck-msg-right .mck-msg-avator {
	float: right;
	right: 0;
	margin-right: 3px;
}

.mck-msg-avator img {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	vertical-align: middle;
}

.mck-msg-avator .mck-alpha-contact-image {
	height: 43px;
	max-width: 43px;
	margin-right: 0;
	line-height: 43px !important;
	font-size: 25px !important;
}

.mck-videocall-image {
        cursor: pointer;
	float: left;
	width: 50px;
	height: 55px;
	margin-right: 12px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}

.mck-alpha-contact-image {
	cursor: pointer;
	float: left;
	width: 43px;
	height: 43px;
	margin-right: 12px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
}

.mck-contact-list .mck-alpha-contact-image, .mck-msg-avator .mck-alpha-contact-image {
	border-radius: 110px;
}

.mck-alpha-contact-image .mck-contact-icon {
	font-weight: bold;
	vertical-align: middle;
}

.alpha_D .mck-contact-icon {
	top: -1px;
	left: 1px;
	position: relative;
}

.alpha_user {
	background-color: #DDA185;
	color: rgb(241, 241, 241);
}

.alpha_A {
	background-color: #E06055;
	color: rgb(246, 210, 206);
}

.alpha_B {
	background-color: #F06292;
	color: rgb(250, 195, 215);
}

.alpha_C {
	background-color: #BA68C8;
	color: rgb(225, 190, 230);
}

.alpha_D {
	background-color: #9575CD;
	color: rgb(210, 197, 233);
}

.alpha_E {
	background-color: #7986CB;
	color: rgb(201, 204, 234);
}

.alpha_F {
	background-color: #5E97F6;
	color: rgb(195, 215, 250);
}

.alpha_G {
	background-color: #4FC3F7;
	color: rgb(197, 235, 252);
}

.alpha_H {
	background-color: #4DD0E1;
	color: rgb(200, 240, 245);
}

.alpha_I {
	background-color: #4DB6AC;
	color: rgb(182, 224, 221);
}

.alpha_J {
	background-color: #57BB8A;
	color: rgb(185, 225, 205);
}

.alpha_K {
	background-color: #9CCC65;
	color: rgb(218, 236, 198);
}

.alpha_L {
	background-color: #D4E157;
	color: rgb(248, 250, 230);
}

.alpha_M {
	background: #FDD835;
	color: rgb(255, 252, 226);
}

.alpha_N {
	background-color: #F6BF26;
	color: rgb(250, 230, 180);
}

.alpha_O {
	background-color: #FFA726;
	color: rgb(255, 225, 180);
}

.alpha_P {
	background-color: #FF8A65;
	color: rgb(255, 200, 185);
}

.alpha_Q {
	background-color: #C2C2C2;
	color: rgb(241, 241, 241);
}

.alpha_R {
	background-color: #90A4AE;
	color: rgb(210, 220, 222);
}

.alpha_S {
	background-color: #A1887F;
	color: rgb(215, 205, 200);
}

.alpha_T {
	background-color: #A3A3A3;
	color: rgb(217, 217, 217);
}

.alpha_U {
	background-color: #AFB6E0;
	color: rgb(237, 238, 248);
}

.alpha_V {
	background-color: #B39DDB;
	color: rgb(239, 233, 246);
}

.alpha_W {
	background-color: #C2C2C2;
	color: rgb(241, 241, 241);
}

.alpha_X {
	background-color: #80DEEA;
	color: rgb(232, 248, 250);
}

.alpha_Y {
	background-color: #BCAAA4;
	color: rgb(235, 228, 228);
}

.alpha_Z {
	background-color: #AED581;
	color: rgb(221, 237, 202);
}

.alpha_user i {
	font-size: 24px;
}

.mck-tab-link a, .mck-group-add-member-box a {
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.mck-conversation-tab-link img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.mck-box .mck-nav>li>a:hover {
	background-color: #fff;
}

.mck-contact-list>li>a:hover {
	background: #ECF9FF !important;
}

.mck-message-status {
	width: 14px;
	height: 14px;
	opacity: 0.6;
	display: inline-block;
}

.mck-message-status.mck-icon-read {
	opacity: 1;
}

.mck-sidebox-launcher {
	white-space: pre;
	/*position: fixed;*/
    position: unset;
    /*z-index: 2243000;*/
	bottom: 20px;
	right: 20px;
	width: 50px;
	/*height: 50px;*/
	/*-webkit-transform: translateZ(0);*/
}

.mck-sidebox-launcher-with-preview {
	width: 330px;
}

.mck-sidebox-launcher .mck-button-launcher {
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
	background-size: 22px 22px;
	box-sizing: content-box;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 0;
	position: absolute;
	bottom: -5px;
	right: 114px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	outline: none;
	background-position: center;
	background-color: #e9535f;
	/*background-color: #0071b2;*/
	-webkit-user-drag: none;
	-webkit-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
	-webkit-transition: -webkit-transform 150ms cubic-bezier(.4, 0, 1, 1);
	transition: transform 150ms cubic-bezier(.4, 0, 1, 1);
}

.mck-msg-preview {
	top: 2px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	position: fixed;
	right: 0px;
	z-index: 99999999;
	max-width: 300px;
	min-width: 300px;
	padding: 5px;
	color: #333333;
	border-radius: 0px;
	background: white;
	display: none;
	white-space: normal;
}

.mck-preview-content {
	cursor: pointer;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
}

.mck-conversation-tab-link img {
	margin-top: -2px;
}

.mck-preview-file-content a img {
	height: 50px !important;
}

.mck-msg-preview .mck-preview-icon img {
	height: 45px;
	width: 45px;
}

.mck-preview-msg-content {
	word-wrap: break-word;
	font-size: 13px;
}

.mck-no-data-text {
	padding: 20px;
	text-align: center;
}

.mck-msg-preview .blk-lg-3, .mck-msg-preview .blk-lg-9 {
	float: left;
}

.mck-box-ft:after {
	clear: both;
}

.mck-box-content.vis {
	display: table !important;
}

.mck-box input {
	height: 32px;
	padding: 0 5px;
	width: calc(100% - 35px);
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	outline: none;
	background-color: #F5F5F5;
	background-image: none;
	border: 0;
	border-radius: 4px;
	position: relative;
	z-index: 2;
	float: left;
	margin-bottom: 0;
	display: table-cell;
}

.mck-box .mck-sidebox-search input {
	background-color: #fff;
}

.mck-gm-search-box input {
	width: 245px;
}

.mck-loc-box input {
	width: calc(100% - 10px);
	box-shadow: none;
}

.mck-loc-content {
	width: 100%;
	height: 280px;
	overflow: hidden;
	position: relative;
}

.mck-test-center {
	text-align: center;
}

.mck-running-on {
	text-align: center;
	padding: 7px 0;
	vertical-align: middle;
	border-top: 1px solid #E5E5E5;
}

.mck-conversation-tab-search img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.mck-tab-link {
	width: 30px !important;
	height: 50px;
	display: table;
}

.mck-input-group {
	width: 100%;
	position: relative;
	display: table;
	border-collapse: separate;
}

.mck-sidebox-search .mck-input-group {
	margin-top: 8px !important;
}

.mck-input-group input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.mck-search-icon {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	border-left: 0px;
	background-color: #F5F5F5;
	border: 0;
	border-radius: 4px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	float: left;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.mck-sidebox-search .mck-search-icon {
	background-color: #fff;
}

.mck-search-icon a {
	border-left: 1px solid #ddd;
	line-height: 32px
}

.mck-search-icon a {
	opacity: 0.5;
}

.mck-msg-avator {
	display: none;
}

.mck-contact-list li a .blk-lg-3 img, .mck-group-member-list li .blk-lg-3 img
	{
	height: 48px;
	width: 48px;
	border: 1px solid #ddd;
	border-radius: 110px;
	overflow: hidden;
}

.fancybox-overlay {
	z-index: 22455000 !important;
}
.mck-file-text .file-preview-link {
	text-decoration: none;
	width: 100%
}

.mck-msg-new {
	float: none !important;
}

.mck-sidebox .mck-context-menu {
	position: absolute;
	width: 100px;
	right: 0;
	bottom: 0;
	z-index: 99;
	max-width: 300px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
}

.mck-sidebox .mck-context-menu ul {
	box-shadow: 0 0px 2px 0 rgba(0, 0, 0, .26), 0 2px 10px 0
		rgba(0, 0, 0, .16);
	z-index: 100030;
	padding: 0px 0px 0px 0px;
	background-color: #fff;
	border-radius: 3px;
	background-clip: padding-box;
	text-align: center;
	margin-bottom: 0px !important;
	list-style: none;
}

.mck-sidebox .mck-context-menu li {
	list-style: none;
	margin: 0;
	display: block;
	float: none;
	line-height: inherit;
}

.mck-sidebox .mck-context-menu a {
	text-align: center !important;
	border-radius: 4px;
}

.mck-msg-left .mck-context-menu {
	left: 20px !important;
}

.mck-msg-right .mck-context-menu {
	right: 20px !important;
}
.mck-msg-right .mck-msg-box {
	float: right !important;
	font-size: 14px;
	margin-right: 15px;
	min-height: 20px;
	padding : 10px 14px 12px;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
	border-radius: 5px;
	max-width: 70%; /* all browsers */
	max-width: -moz-calc(85% - 58px); /* Firefox 4+ */
	max-width: calc(85% - 58px); /* IE9+ and future browsers */
	display: inline-block;
	padding: 10px 14px 12px;
	position: relative;
	color: rgba(255, 255, 255, 0.87);
	background-color: #2196f3;
}

.mck-msg-avator-bubble.mck-msg-right .mck-msg-box {
 	margin-right: 58px;
}

.mck-group-inner .bubble.mck-msg-left .mck-msg-box:after {
	border-right-color: #fff;
}

.mck-msg-avator-bubble.mck-msg-left .mck-msg-box {
	margin-left: 58px;
}

.mck-msg-center {
	text-align: center;
}

.mck-msg-center .mck-msg-box {
	position: relative;
	margin: auto;
	display: inline-block;
	text-align: center;
	color: rgba(69, 90, 100, .95);
	background-color: #FFFFFF;
	box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
	border-radius: 4px;
	padding: 6px 12px;
	line-height: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

.mck-msg-center .mck-context-menu, .mck-msg-center-muted {
	display: none !important;
}

.mck-msg-text span.emoji-sizer {
	margin: 1px 0 !important;
}

.fancybox-opened {
	z-index: 2247483650;
}

#mck-group-search-list .mck-group-count-box {
	width: 22px;
	height: 22px;
	background-color: orange;
	border-radius: 110px;
}

.mck-group-count-text {
	position: relative;
	margin-top: 2px;
	height: 20px;
	text-align: center;
	font-size: 10px;
	z-index: 100;
	display: block;
	color: #FFFFFF;
}

.mck-unread-count-box {
	width: 22px;
	height: 22px;
	background-color: red;
	border-radius: 110px;
}

.mck-unread-count-text, .mck-group-admin-text span {
	position: relative;
	margin-top: 2px;
	height: 20px;
	text-align: center;
	font-size: 10px;
	z-index: 100;
	display: block;
	color: #FFFFFF;
}

.mck-sidebox .mck-box-top .mck-row, .mck-search-tab-box.mck-row {
	margin: 0;
}

.mck-sidebox .mck-box-top .blk-lg-10 {
	width: calc(100% - 20px);
	height: 50px;
}

.mck-sidebox .mck-box-top .blk-lg-2 {
	width: 20px;
	height: 50px;
}

.mck-sidebox .mck-tab-title-w-status, .mck-sidebox .mck-tab-title-w-typing
	{
	line-height: 35px;
	height: 30px;
	position: relative;
    color: #fff !important;

}

.mck-sidebox .mck-tab-status {
	line-height: 15px;
	font-size: 12px;
	opacity: 0.6;
    color: #fff !important;

}

.mck-sidebox .mck-nav>li {
	position: relative;
	display: block;
}

.mck-box .mck-nav-tabs>li {
	float: left;
}

.mck-sidebox .mck-nav-tabs.mck-nav-justified {
	width: 100%;
	border-bottom: 0 !important;
}

.mck-sidebox .mck-nav-tabs.mck-nav-justified>li {
	float: none !important;
}

.mck-sidebox .mck-header-tabs {
	margin-bottom: 0px !important;
	margin: 7px 0 0;
}

.mck-box .mck-nav-tabs>li.active>a, .mck-box .mck-nav-tabs>li.active>a:focus,
	.mck-box .mck-nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
}

.mck-sidebox .mck-nav-tabs.mck-nav-justified>li>a {
	margin-right: 0;
	border-radius: 4px;
}

.mck-sidebox .mck-header-tabs a {
	text-transform: uppercase;
	text-align: center;
	border: 0px;
}

.mck-sidebox .mck-header-tabs .active a {
	border-radius: 0;
	border-bottom: 5px solid #168EEA;
}

.mck-box .mck-nav>li>a:focus, .mck-box .mck-nav>li>a:hover {
	text-decoration: none;
}

.mck-sidebox .mck-msg-name-text {
	color: #EF73B1;
}

.mck-group-inner {
	background: #FAFAFA;
}

.mck-group-inner .mck-msg-left .mck-msg-box {
	padding: 4px 8px;
	color: #333;
	background: #fff;
}

.mck-group-inner .mck-msg-left .mck-msg-box:after {
	border-right-color: #fff;
}

.mck-audio-player {
	width: 180px;
	margin-bottom: 8px;
	overflow: hidden;
	outline: none;
}

.mck-video-player {
	overflow: hidden;
	outline: none;
	transform-origin: left top;
	z-index: 2;
	width: 100%;
}

.mck-typing-box {
	opacity: 0.6;
	line-height: 15px;
	font-size: 12px;
}

.mck-file-tag {
	margin: 0 !important;
}

.mck-text-user {
	color: #DDA185;
}

.mck-text-a {
	color: #E06055;
}

.mck-text-b {
	color: #F06292;
}

.mck-text-c {
	color: #BA68C8;
}

.mck-text-d {
	color: #9575CD;
}

.mck-text-e {
	color: #7986CB;
}

.mck-text-f {
	color: #5E97F6;
}

.mck-text-g {
	color: #4FC3F7;
}

.mck-text-h {
	color: #4DD0E1;
}

.mck-text-i {
	color: #4DB6AC;
}

.mck-text-j {
	color: #57BB8A;
}

.mck-text-k {
	color: #9CCC65;
}

.mck-text-l {
	color: #D4E157;
}

.mck-text-m {
	color: #FDD835;
}

.mck-text-n {
	color: #F6BF26;
}

.mck-text-o {
	color: #FFA726;
}

.mck-text-p {
	color: #FF8A65;
}

.mck-text-q {
	color: #C2C2C2;
}

.mck-text-r {
	color: #90A4AE;
}

.mck-text-s {
	color: #A1887F;
}

.mck-text-t {
	color: #A3A3A3;
}

.mck-text-u {
	color: #AFB6E0;
}

.mck-text-v {
	color: #B39DDB;
}

.mck-text-w {
	color: #C2C2C2;
}

.mck-text-x {
	color: #80DEEA;
}

.mck-text-y {
	color: #BCAAA4;
}

.mck-text-z {
	color: #AED581;
}

.mck-user-ol-status.vis {
	display: inline-block !important;
}

.pac-container.pac-logo {
	z-index: 22436000;
}

.mck-box .mck-box-md {
	width: 500px;
}

.mck-box .mck-box-sm {
	width: 300px;
}

.mck-file-menu {
	position: absolute;
	z-index: 22445000 !important;
	width: 300px;
	right: 0px !important;
	padding: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	background: #fff;
	-webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
}

.mck-file-menu .mck-row {
	margin: 0;
	vertical-align: middle;
	position: relative;
	background: #fff;
}

.mck-file-menu img {
	width: 20px;
}

.mck-file-menu label, .mck-file-menu a {
	width: 100%;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
}

.mck-file-menu a:hover {
	text-decoration: none;
}

.mck-file-menu p {
	margin: 0;
	font-size: 12px;
}

.mck-pt10 {
	padding-top: 10px;
}

.fancybox-inner video {
	background: #000;
	display: block;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 620px;
}

.mcktypeahead {
	max-width: 255px !important;
	min-width: 255px !important;
	border-radius: 4px;
	z-index: 22440000 !important;
}

.mcktypeahead li a {
	white-space: normal !important;
	word-wrap: break-word;
	text-decoration: none;
}

.mcktypeahead .active>a, .mcktypeahead .active>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #F5F5F5;
}

.mck-tab-menu-box.mck-dropdown-menu {
	margin-top: 4px;
}

.mck-group-admin-menu {
	right: 22px !important;
}

.mck-tab-menu-box.mck-dropdown-menu.menu-right:before {
	right: 7px;
	top: -8px;
}

.mck-group-admin-menu.mck-dropdown-menu.menu-right:before {
	right: 2px;
}

.mck-sidebox .mck-group-info-panel, .mck-sidebox .mck-group-create-panel
	{
	background-color: #eceff1;
	padding: 0;
	margin: 0;
}

.mck-sidebox .mck-group-icon-sec {
	padding: 10px;
	position: relative;
	vertical-align: baseline;
	outline: none;
}

.mck-group-sub-sec {
	padding: 10px 0;
	position: relative;
	vertical-align: baseline;
	outline: none;
}

.mck-group-icon-box {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.mck-btn-group-icon-save {
	display: inline-block;
	margin-top: 2px !important;
}

.mck-btn-group-icon-save.vis {
	display: inline-block !important;
}

.mck-btn-gray {
	background-color: rgba(134, 134, 134, .50) !important;
	border-color: #B6C2C9 !important;
}

.mck-btn-gray:hover, .mck-btn-gray:focus {
	background-color: rgba(134, 134, 134, .75) !important;
	border-color: #B6C2C9 !important;
}

.mck-group-icon-box img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mck-group-create-tab .mck-group-icon-box {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.mck-group-icon-box .mck-group-icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mck-group-name-sec {
	padding: 15px 10px;
	padding-top: 0px;
	position: relative;
	display: table;
	width: calc(100% - 20px);
	border-collapse: separate;
}

.mck-group-name-sec .blk-lg-9 {
	width: calc(100% - 40px);
	padding: 3px 5px;
	background-color: #fff;
	height: 29px;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.mck-group-create-tab .mck-group-name-box .blk-lg-12:last-child {
	width: calc(100% - 10px);
	padding: 3px 5px;
	background-color: #fff;
	height: 29px;
	border-radius: 4px;
}

.mck-label {
	color: #999;
	float: left;
	width: 100%;
	font-size: 14px;
	margin-bottom: 5px;
}

.mck-group-name-sec .blk-lg-3 {
	width: 30px;
}

.mck-group-name-sec .mck-group-name-edit-icon {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	background-color: #fff;
	text-align: center;
	border-left: 0px;
	border: 0;
	border-radius: 4px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	float: left;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.mck-group-name-box .mck-group-title {
	background: #FFFFFF;
	vertical-align: middle;
	line-height: 29px;
	height: 29px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	border-top-right-radius: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mck-group-name-box div[contenteditable="true"] {
	height: 27px;
	line-height: 25px;
	width: 100%;
	font-size: 13px;
	color: #555;
	outline: none;
	overflow: auto;
	white-space: inherit;
	overflow-x: hidden;
	text-overflow: inherit;
	background-color: #fff;
	border-bottom: 2px solid #009688 !important;
	background-image: none;
	border: 0;
	position: relative;
	z-index: 2;
	float: left;
	margin-bottom: 0;
	display: table-cell;
	background-color: #fff;
	white-space: inherit;
	text-overflow: inherit;
}

#mck-group-create-name-box div[contenteditable="true"] {
	width: 100%;
	text-align: left !important;
}

.mck-box .mck-group-name-box .mck-req-border {
	border-bottom: 2px solid #EB5858 !important;
}

.mck-group-name-edit-icon img {
	width: 24px;
	height: 24px;
	margin-top: -4px;
	vertical-align: middle;
	margin-left: 2px;
}

.mck-group-name-sec a {
	border-left: 1px solid #ddd;
	line-height: 35px;
}

.mck-group-name-sec a.vis {
	display: initial !important;
}

.mck-group-member-panel, .mck-group-update-panel {
	background-color: #eceff1;
	padding: 0;
	margin: 0;
}

.mck-group-md-sec, .mck-group-bottom-sec {
	padding: 0 10px;
	padding-top: 0px;
	position: relative;
}

.mck-group-bottom-sec .mck-group-update-sec {
	background: #fff;
	height: 30px;
	vertical-align: middle;
	padding: 5px;
	color: #7C98A5;
	text-align: center;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 1px solid #F3F3F3;
}

.mck-group-member-text {
	background: #fff;
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	padding: 0 10px;
	color: #7C98A5;
	font-size: 16px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #F3F3F3;
}

.mck-group-add-member-box {
	background: #fff;
	height: 45px;
	padding: 0 10px;
	vertical-align: middle;
	line-height: 45px;
	font-size: 16px;
	border-bottom: 1px solid #f3f3f3;
}

.mck-group-member-list .mck-group-member-info {
	color: #444 !important;
	border-radius: 0;
	border-bottom: 1px solid #F3F3F3 !important;
	line-height: 18px;
	padding: 5px 0;
	background-color: #fff !important;
}

.mck-group-add-member-box img, .mck-gm-search-box .mck-box-top .blk-lg-3 img
	{
	width: 20px;
	height: 20px;
	display: block;
	vertical-align: middle;
}

.mck-group-add-member .blk-lg-3 {
	width: 40px;
	padding: 12px 0;
}

.mck-group-add-member .blk-lg-9 {
	width: calc(100% - 40px);
}

.mck-group-info-tab .mck-box-body {
	background-color: #eceff1;
}

.mck-group-info-tab .mck-tab-cell .mck-group-member-inner {
	margin: 0 10px;
	border: 5px solid #FFFFFF;
	background-color: #FFFFFF;
	position: absolute;
	display: table-row;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
}

.mck-group-admin-text {
	height: 22px;
	background-color: #eceff1;
	border-radius: 110px;
}

.mck-last-seen-status {
	line-height: 22px;
}

.mck-group-admin-text span {
	color: #168EEA;
}

.mck-group-info-ft {
	background-color: #eceff1;
	padding: 10px;
}

.mck-sidebox .mck-btn-group-exit, .mck-btn-group-create {
	width: calc(100% - 14px);
}

.mck-group-create-inner {
	padding: 10px;
	overflow: hidden !important;
}

.mck-group-icon-default {
	background-image: url(../../../images/mck-icon-group150x150.png);
	width: 150px;
	height: 150px;
	top: 0px;
	left: 0px;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
}

.mck-loading {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.05);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mck-sidebox-search .mck-loading {
	background-color: #fff;
}

.mck-loading>img {
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

.mck-group-icon-box .mck-loading {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.mck-group-icon-box .mck-loading>img {
	width: 60px;
	height: 60px;
}

.mck-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	background-color: rgba(134, 134, 134, .85);
	color: rgba(255, 255, 255, .5);
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mck-overlay-label {
	width: 100px;
	text-align: center;
	margin-top: 10px;
}

.mck-offline-message-box {
	padding: 6px;
	background-color: #fff;
	font-size: 14px;
	min-height: 18px;
	text-align: center;
	font-weight: 500;
	border-top: 1px solid #e5e5e5;
}

.mck-search-box-top .mck-input-group {
	height: 32px;
}

.mck-icon-user, .mck-icon-no-image, .mck-icon-bell, .mck-icon-dollar,
	.mck-icon-smiley, .mck-icon-sun, .mck-icon-truck, .mck-icon-send,
	.mck-icon-smiley-blue, .mck-icon-upload, .mck-icon-search,
	.mck-icon-chat, .mck-icon-backward, .mck-icon-marker-blue,
	.mck-icon-photo, .mck-icon-attachment, .mck-icon-camera,
	.mck-icon-marker, .mck-icon-delivered, .mck-icon-read, .mck-icon-sent,
	.mck-icon-time {
	display: inline-block;
	background: url(../../../images/mck-plugin-sprite.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.mck-icon-user {
        background-position: -4px 3px;
	width: 44px;
	height: 44px;
	background-size: 50px;
}

.mck-icon-no-image {
	background-position: -10px -60px;
	width: 45px;
	height: 45px;
}

.mck-camera-icon {
	display: block;
	background-image: url(../../../images/mck-icon-camera.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.mck-camera {
	display: inline-block;
	background-image: url(../../../images/mck-icon-camera.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 5px !important;
	vertical-align: middle;
	background-size: 20px;
	opacity: 0.4;
}

.mck-icon-bell {
	background-position: -10px -168px;
	width: 30px;
	height: 30px;
}

.mck-icon-dollar {
	background-position: -10px -208px;
	width: 30px;
	height: 30px;
}

.mck-icon-smiley {
	background-position: -10px -248px;
	width: 30px;
	height: 30px;
}

.mck-icon-sun {
	background-position: -10px -288px;
	width: 30px;
	height: 30px;
}

.mck-icon-truck {
	background-position: -10px -328px;
	width: 30px;
	height: 30px;
}

.mck-icon-send {
	background-position: -10px -368px;
	width: 25px;
	height: 25px;
}

.mck-icon-smiley-blue {
	background-position: -10px -403px;
	width: 25px;
	height: 25px;
}

.mck-icon-upload {
	background-position: -10px -438px;
	width: 25px;
	height: 30px;
}

.mck-icon-search {
	background-position: -10px -478px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.mck-icon-chat {
	background-position: -10px -512px;
	width: 22px;
	height: 22px;
	top: 13px;
	left: 12px;
	position: relative;
}

.mck-icon-backward {
	background-position: -10px -544px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.mck-icon-marker-blue {
	background-position: -10px -574px;
	width: 20px;
	height: 20px;
}

.mck-icon-photo {
	background-position: -10px -604px;
	width: 20px;
	height: 20px;
}

.mck-icon-attachment {
	background-position: -10px -634px;
	width: 18px;
	height: 18px;
	position: relative;
	vertical-align: middle;
}

.mck-icon-camera {
	background-position: -10px -662px;
	width: 18px;
	height: 20px;
	position: relative;
	vertical-align: middle;
}

.mck-icon-marker {
	background-position: -10px -690px;
	width: 18px;
	height: 18px;
	position: relative;
	vertical-align: middle;
}

.mck-icon-delivered {
	background-position: -10px -718px;
	width: 14px;
	height: 14px;
}

.mck-icon-read {
	background-position: -10px -744px;
	width: 14px;
	height: 14px;
}

.mck-icon-sent {
	background-position: -10px -770px;
	width: 14px;
	height: 14px;
}

.mck-icon-time {
	background-position: -10px -796px;
	width: 14px;
	height: 14px;
}

.icon-attachment {
	background-position: -10px -634px;
	width: 18px;
	height: 18px;
}

.icon-camera {
	background-position: -10px -662px;
	width: 18px;
	height: 18px;
}

.icon-marker {
	background-position: -10px -690px;
	width: 18px;
	height: 18px;
}

.delivered16x16 {
	background-position: -10px -718px;
	width: 16px;
	height: 16px;
}

.icon-read16x16 {
	background-position: -10px -744px;
	width: 16px;
	height: 16px;
}

.icon-sent16x16 {
	background-position: -10px -770px;
	width: 16px;
	height: 16px;
}

.icon-time16x16 {
	background-position: -10px -796px;
	width: 16px;
	height: 16px;
}

.mck-group-member-list .mck-label {
	font-size: 12px;
	vertical-align: middle;
	margin: 0;
	text-align: left;
	height: 20px;
	line-height: 20px;
}

.mck-group-member-list .mck-select {
	width: 110px;
	padding: 2px;
	float: right;
	height: 14px;
	border: 1px solid rgb(169, 169, 169);
}

@media ( min-width : 310px) {
	.mck-sidebox .mck-box-sm, .mck-box .mck-box-md {
		width: 300px;
	}
    .mck-gm-search-box .mck-box-sm {
	    width:300px;
	}
	.mck-box-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.mck-box  .blk-lg-1, .mck-box  .blk-lg-10, .mck-box  .blk-lg-11,
		.mck-box  .blk-lg-12, .mck-box  .blk-lg-2, .mck-box  .blk-lg-3,
		.mck-box  .blk-lg-4, .mck-box  .blk-lg-5, .mck-box  .blk-lg-6,
		.mck-box  .blk-lg-7, .mck-box  .blk-lg-8, .mck-box  .blk-lg-9,
		.mck-msg-preview .blk-lg-9 {
		float: left;
	}
	.mck-contact-list .blk-lg-3 {
		width: 60px;
	}
	.mck-contact-list .blk-lg-8 {
		width: calc(100% - 55px);
	}
	.mck-sidebox-content .mck-box-top .mck-tab-individual .blk-lg-2 {
		width: 30px;
	}
	.mck-sidebox-content .mck-box-top .blk-lg-8 {
		width: calc(100% - 35px);
	}
	.mck-sidebox-search .mck-box-top .blk-lg-8, .mck-group-info-tab .mck-box-top .blk-lg-8
		{
		width: calc(1005 - 30px);
	}
	.mck-group-member-list .blk-lg-10 {
		width: 140px;
	}
	.mck-loc-box .mck-box-top .blk-lg-10 {
		width: calc(100% - 25px);
	}
	.mck-group-member-list .blk-lg-8 {
		width: 125px;
		height: 22px;
	}
	.mck-group-member-list .blk-lg-2 {
		width: 20px;
	}
	.mck-contact-list .blk-lg-6 {
		width: calc(100% - 70px);
	}
	.mck-contact-list .blk-lg-4 {
		width: 55px;
	}
	.mck-group-member-list .blk-lg-4 {
		width: 65px;
	}
	.blk-lg-6 {
		width: 150px;
	}
	.mck-file-menu .blk-lg-6.mck-left {
		width: 149px;
		border-right: 1px solid #ddd;
	}
	.blk-lg-9 .blk-lg-4 {
		text-align: right;
	}
	.mck-product-box .blk-lg-8 {
		width: 145px;
	}
	.mck-product-box-wc .blk-lg-8 {
		width: 150px;
	}
	.mck-product-box .blk-lg-4 {
		width: 65px;
	}
	.mck-product-box-wc .blk-lg-4 {
		width: 80px;
	}
	.mck-contact-list .blk-lg-9 {
		width: calc(100% - 65px);
	}
	.mck-group-member-list .blk-lg-9 {
		width: calc(100% - 63px);
	}
	.mck-group-member-search-list .blk-lg-9 {
		width: calc(100% - 60px);
	}
	.blk-lg-12 {
		width: 100%;
	}
	.mck-msg-preview .blk-lg-3, .mck-product-box .blk-lg-3 {
		width: 55px;
	}
	.mck-msg-preview .blk-lg-9 {
		width: 230px;
	}
	.mck-product-box .blk-lg-9 {
		width: 215px;
	}
	.mck-product-box-wc .blk-lg-9 {
		width: 235px;
	}
	.mck-search-list .mck-cont-name {
		width: 100%;
		font-size: 15px;
		line-height: 1.5;
	}
	.mck-sidebox .mck-nav-tabs.mck-nav-justified>li {
		display: table-cell;
		width: 1%;
	}
	.mck-sidebox .mck-nav-tabs.mck-nav-justified>li>a {
		margin-bottom: 0;
	}
}

@media ( min-width : 510px) {
	.mck-box .mck-box-md {
		width: 500px;
	}
	.mck-box .mck-box-sm {
		width: 300px;
	}
	.mck-gm-search-box .mck-box-sm {
	    width:300px;
	}
	.mck-loc-box .mck-box-top .blk-lg-10, .mck-call-box .mck-box-top .blk-lg-10
		{
		width: calc(100% - 25px);
	}
	.mck-loc-box input {
		width: calc(100% - 10px);
	}
}


.mck-message-inner .group-user-count {
	display: none;
}

#mck-video-call-indicator{
	z-index:2;
	width:100%;
	position:absolute;
	background-color:#337ab7;
}
#mck-video-call-icon{
	/*background-color:blue;*/
	margin:6px;
}
#mck-video-call-controls{
	margin:5%;
}


#mck-vid-media{
    top:0;
    background-color:#337ab7;
    height:100%;
    width:100%;
}
#mck-vid-div-overlay{
    background-color:rgba(0,0,0, 0.5);
    position:absolute;
    top: 0;
    z-index:1;
    height: 100%;
    width: 75%;
}

#mck-vid-div-overlay > .mck-vid-overlay-header {
    height: 100px;
    /*background-color: rgba(233, 100, 100, 0.5);*/
}

#mck-vid-div-overlay > .mck-vid-overlay-header .centered {
    margin: 0 auto;
    height: 100%;
    width: 100px;
    border-radius:50%;
}

#mck-vid-div-overlay > .mck-vid-overlay-footer {
    position: absolute;
    width: 100%;
    height: 150px;
    /*background-color: rgba(233, 100, 100, 0.5);*/
    bottom: 0;
    margin-left: 49px;
}

#mck-vid-div-overlay > .mck-vid-overlay-footer .left {
    /*background-color: rgba(155, 200, 160, 0.5);*/
    height: 100%;
}

#mck-vid-div-overlay > .mck-vid-overlay-footer .right {
    /*background-color: rgba(100, 200, 255, 0.5);*/
    height: 100%;
}
#local-media{
  /* background-color:blue;*/
    /*border:solid;*/
    width:30%;
   /* height: 100%;*/
    margin-bottom:2%;
		margin-right: 5%;
    display:inline-block;
}
.btn-controls{
    vertical-align: middle;
}

#mck-vid-media > video{
    width:100%;
    height: 100vh;
}
#local-media > video{
    width:100%;
    height: 100% ;
    transform: scaleX(-1);
}

#mck-audio-call-icon{
    float:none;
    background-image: url(/resources/images/voicecalling.gif);
}

.applozic-vid-container{
    /*display: none !important;*/
    position: fixed !important;
    height: 100% !important;
    right: auto !important;
    left: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding-left: 0px !important;
    z-index: 22435000 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    line-height: 18px;
    min-width: 310px;
    top:0;
    width:75%;
}

#mck-video-box{
    top:0;
}
.mck-aud-muted-btn{
		background-color:red;
		}
#mck-vid-disconnect{
	border-radius: 50%;
	height:56Px;
	width:56px;
	background-color:#DB4437;
	border:none;

}
#mck-microfone-mute-btn{
	border-radius: 50%;
	height:56Px;
	width:56px;
	margin:0px 5px 0px 0px;
	border:none;
	opacity:0.6;
	background-color:black;
}
.mck-centered{
	margin:0 auto;
	float:none;
        white-space:nowrap;
}
.mck-unmute-icon{
	fill:white;

}
.mck-mute-icon{
	fill:black;

}
.mck-muted{
	background-color:white !important;
}
.mck-unmuted{
	background-color:black !important;
}
.mck-disconnect-icon{
fill:white;
}
#mck-call-indicator-header{
	width:50%;
}
#mck-call-btn-div{
	width:65%;
}
#mck-vid-receive-btn, #mck-vid-reject-btn{
	width:40%;
	padding:3px 5px 3px 5px;
}
.mck-vid-scr-controls{
		display:inline-block;
		width:70%;
}

.mck-flex-footer{
	align-content: center;
	display:flex;
	flex-direction: row;
}
.mck-local-media-border{
	border:solid;
}
.mck-vid-flex-box{

	align-content: center;
	display:inline-flex;
	flex-direction: row;
}
#mck-vid-btn{
	margin:10px 0px 5px 0px;
	width:85%;
	float:right;
}

.mck-badge-count {
	width: auto;
	height: auto;
	border-radius: 50px;
	background-color: red;
	border: 2px solid #fff;
	text-align: center;
	color: white;
	position: absolute;
	top: -7px;
	line-height: 20px;
	font-size: 14px;
	padding: 0px 4px;
	z-index: 2243001;
	right: 0;
	min-width: 12px;
}

.mck-text-box-width-increase {
	width : calc(100% - 90px) !important;
}
